.alert {
	box-sizing: border-box;
	color: #000000;
	padding: 1rem;	
	text-shadow: 0 0 1px #FFFFFF;
	width: 100%;	
}
.alert-error {
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -200px;
	width: 400px;
	h5 {
		color: #FF0000;
		text-transform: uppercase;
	}
}
.alert-message {
	@extend .red;
	text-align: center;
	width: 100%;
}

/************************************************** COLORS **************************************************/
.alert-warning {
	@extend .alert;
	@include background-warning;
	@include border-radius(0.3125rem);
	border: 1px solid $border-warning;	
}