@import 'alert-dialog';
@import 'alert-options';
@import 'alert-styles';

.alert {
	box-sizing: border-box;
	display: inline-block;
	padding: $padding;	
	h1, h2, h3, h4, h5, h6 {
		float: left;
		margin-right: .5rem;
	}	
	button.alert-close {
		background: transparent;
		border: none;
		position: absolute;
		right: 0;
		top: -2px;
		i {
			font-size: 1rem;
		}		
		&:focus {
			outline: 0;
		}
	}
}
.alert-info-system {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 1000;
	h4 {
		line-height: 2;
	}	
	i {
		font-size: 1.5rem;
	}
}