.bg-f2efef {
	background: #F2EFEF !important;
}
.bg-fafafa {
	background: #FAFAFA !important;
}
.bg-ffffff {
	background: #FFFFFF !important;	
}
.bg-der {
	background: $color-der !important;
}
.bg-gary {
	background: $color-gary !important;
}
.bg-kal {
	background: $color-kal !important;
}
.bg-low {
	background: $color-low !important;
}
.bg-lube {
	background: $color-lube !important;
}
.bg-range {
	background: $color-range !important;
}
.bg-lube-triangle-square {
	background: url(img/background-lube-triangle-square.jpg) !important;
}