.band-lube {
	@include background-lube;
	box-sizing: border-box;
	color: #FFFFFF;
	float: left;
	padding: 0.3rem;
	width: 100%;
}
.band-kal {
	@include background-kal;
	box-sizing: border-box;
	color: #F2F2F2;
	float: left;
	padding: 0.5rem 1rem;
	width: 100%;
}
.band-kal-modern {
	border-top: 3px solid #363636;
	float: left;
	width: 100%;
	label {
		background: #363636;		
		color: #F2F2F2;
		float: left;
		padding: 0.5rem 1rem;
	}
}