.band-modern-der {
	border-top: 1px solid $color-der;
	float: left;
	width: 100%;
	label {
		background: $color-der;		
		color: $color-text-der;
		float: left;
		padding: $padding-band;
	}
}
.band-modern-gary {
	border-top: 1px solid $color-gary;
	float: left;
	width: 100%;
	label {
		background: $color-gary;		
		color: $color-text-gary;
		float: left;
		padding: $padding-band;
	}
}
.band-modern-kal {
	border-top: 1px solid $color-kal;
	float: left;
	width: 100%;
	label {
		background: $color-kal;		
		color: $color-text-kal;
		float: left;
		padding: $padding-band;
	}
}
.band-modern-low {
	border-top: 1px solid $color-low;
	float: left;
	width: 100%;
	label {
		background: $color-low;		
		color: $color-text-low;
		float: left;
		padding: $padding-band;
	}
}
.band-modern-lube {
	border-top: 1px solid $color-lube;
	float: left;
	width: 100%;
	label {
		background: $color-lube;		
		color: $color-text-lube;
		float: left;
		padding: $padding-band;
	}
}
.band-modern-range {
	border-top: 1px solid $color-range;
	float: left;
	width: 100%;
	label {
		background: $color-range;		
		color: $color-text-range;
		float: left;
		padding: $padding-band;
	}
}
.band-modern-rangeless {
	border-top: 1px solid $color-rangeless;
	float: left;
	width: 100%;
	label {
		background: $color-rangeless;		
		color: $color-text-rangeless;
		float: left;
		padding: $padding-band;
	}
}