.band-nav-default {
	@extend .band;
	@include background-default;
	padding: $band-nav-padding;
	a {
		color: #000000;
	}
}
.band-nav-derer {
	@extend .band;
	background: $color-derer;
	padding: $band-nav-padding;
	label {
		color: $color-text-derer;
	}
}
.band-nav-kal {
	@extend .band;
	background: $color-kal;
	padding: $band-nav-padding;
	label {
		color: $color-text-kal;
	}
}
.band-nav-lube {
	@extend .band;
	background: $color-lube;
	padding: $band-nav-padding;
	label {
		color: $color-text-lube;
	}
}
.band-nav-luber {
	@extend .band;
	background: $color-luber;
	padding: $band-nav-padding;
	label {
		color: $color-text-luber;
	}
}
.band-nav-range {
	@extend .band;
	background: $color-range;
	padding: $band-nav-padding;
	label {
		color: $color-text-range;
	}
}
.band-nav-rangeless {
	@extend .band;
	background: $color-rangeless;
	padding: $band-nav-padding;
	label {
		color: $color-text-rangeless;
	}
}