@import 'band-modern-styles';
@import 'band-styles';
@import 'band-nav-styles';

.band {
	float: left;
	width: 100%;
	padding: $padding-band;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}	
	label {
		margin-bottom: .275rem;
	}
	&-shadow {
		box-shadow: 0 0 7px #666666;
	}	
	div[class^=col-] {
		margin-bottom: 0;
	}
	input, select {
		margin-top: 0 !important;
	}
}