@import 'banner-styles';
@import 'banner-text';

div.banner-image {
    div[class^=image-] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFFFFF;	
        height: 500px;
        position: relative;
    }
    .banner-info {
        padding: 0 50px;
        position: absolute;
        top: 100px;
        width: 100%;        
        h1 {
            font : {
                size: $banner-font-size-h1;
                weight: 900;
            }
            width: 100%
        }
        p {
            font : {
                size: $banner-font-size;
                weight: 300;
            }
            width: 100%
        }
        button {
            margin-top: 1rem;
        }
    }
    .banner-left {
        * {
            @include text-align(left);
        }
        button, a {
            float: left;
        }
    }
    .banner-right {
        * {
            @include text-align(right);
        }
        button, a {
            float: right;
        }
    }
}

// .banner-center-info {
// 	@include align-items(center);
// 	@include justify-content(center);
// 	color: $banner-color;
// 	display: flex;
// 	height: $banner-height;
// 	h1 {
// 		font: {
// 			size: $banner-font-size-h1;
// 			weight: bold;
// 		}
// 		margin: $banner-margin;
// 	}
// 	p {
// 		font-size: $banner-font-size;
// 		margin: $banner-margin;
// 		text-align: justify;
// 	}
// 	.banner-center {
// 		width: 50%;
// 	}
// }
// .banner-text {
// 	font-size: 5rem;
// 	padding: 5rem 0;
// 	text-align: center;
// 	width: 100%;	
// }