.banner {
	@include align-items(center);
	@include justify-content(center);
	color: $banner-color;
	display: flex;
	height: $banner-height;
	h1 {
		font: {
			size: $banner-font-size-h1;
			weight: bold;
		}
		margin: $banner-margin;
	}
	p {
		font-size: $banner-font-size;
		margin: $banner-margin;
		text-align: justify;
	}
	.banner-center {
		width: 50%;
	}
}
.banner-text {
	font-size: 5rem;
	padding: 5rem 0;
	text-align: center;
	width: 100%;	
}

/************************************************** THEMES BANNER **************************************************/
div.banner-lube {
	@extend .banner;
	background: $color-lube;
	color: $color-text-lube;	
}
div.banner-kal {
	@extend .banner;
	background: $color-kal;
	color: $color-text-kal;	
}

/************************************************** THEMES BANNER-TEXT **************************************************/
div.banner-text-derer {
	@extend .banner-text;
	background: $color-derer;
	color: $color-text-derer;
}