@import 'block-options';
@import 'block-styles';

.block {
	@include border-radius($block-border-radius);
	border: $border;	
	float: left;
	margin: $block-margin;
	max-width: 100%;
	min-width: 100%;
	padding: 0;
	position: relative;
	width: 100%;
	legend.block-header {
		@include border-radius-lefttop-righttop($block-border-radius);
		float: left;
		padding: $block-legend-padding;
		width: 100%;
	}
	.block-title {
		font-size: $font-size;
		&-shadow {
			text-shadow: 2px 1px 5px #595959;
		}
	}	
	.block-body {
		float: inherit;			
		width: 100%;
		p {
			font : {
				size: .875rem;
				weight: 300;
			}
		}
	}
	.block-body-padding {
		padding: $block-body-padding;
	}
}