fieldset.block {
	@include border-radius($block-border-radius);
	border: $border;	
	box-sizing: border-box;
	padding: $block-padding;
	position: relative;
	width: 100%;
	legend.block-header {
		@include border-radius-lefttop-righttop($block-border-radius);
		box-sizing: inherit;
		left: 0;
		padding: $block-legend-padding;
		position: absolute;
		top: 0;
		width: inherit;
	}
	.block-title {
		font-size: $font-size;
	}
	.block-body {
		padding: $block-body-padding;
	}
}

/************************************************** STYLES **************************************************/
fieldset.block-default {
	@extend .block;
	legend.block-header {		
		@include background-default;
		.block-title {
			color: $color;
		}
	}
}
fieldset.block-gary {
	@extend .block;
	legend.block-header {		
		background: $color-gary;
		.block-title {
			color: $color-text-gary;
		}
	}
}
fieldset.block-lube {
	@extend .block;
	legend.block-header {		
		background: $color-lube;
		.block-title {
			color: $color-text-lube;
		}
	}
}
fieldset.block-kal {
	@extend .block;
	legend.block-header {		
		background: $color-kal;
		.block-title {
			color: $color-text-kal;
		}
	}
}
fieldset.block-tie {
	@extend .block;
	legend.block-header {
		.block-title {
			color: #595959;
		}
	}
}