@import 'block-styles';

.block {
	@include border-radius($block-border-radius);
	@include calc(width, "100% - .2rem");
	border: $border;	
	box-sizing: border-box;
	float: left;
	margin: $block-margin;
	padding: $block-padding;
	position: relative;
	legend.block-header {
		@include border-radius-lefttop-righttop($block-border-radius);
		box-sizing: inherit;
		left: 0;
		padding: $block-legend-padding;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.block-title {
		font-size: $font-size;
		&-shadow {
			text-shadow: 2px 1px 5px #595959;
		}
	}	
	.block-body {
		box-sizing: inherit;
		float: inherit;		
		width: 100%;
	}
	.block-body-padding {
		padding: $block-body-padding;
	}
}