div.box-group {	
	@extend %box-sizing;
	display: flex;
	padding: $box-padding;
	div[class^=box] {
		@include display-flex;
		@include justify-content(center);
		width: 100%;
		img {
			height: $box-img-height;
			margin: $box-img-margin;
			width: 70%;
		}	
	}	
	div.box-content {		
		display: initial;
		padding: $box-padding;
		text-align: center;
	}
}