div.box-group {	
	box-sizing: border-box;
	display: flex;
	padding: 1rem;
	div[class^=box] {
		display: flex;
		justify-content: center;
		width: 100%;
		img {
			height: 200px;
			margin-bottom: 1rem;
			width: 70%;
		}	
	}	
	div.box-content {		
		display: initial;
		font-size: 1.5rem;
		padding: 1rem;
		text-align: center;
	}
}