.box-group {	
	display: flex;
	padding: $box-padding;
	div[class^=box] {
		@include display-flex;		
		width: 100%;
		img {
			height: $box-img-height;
			margin: $box-img-margin;
			width: 70%;
		}	
	}
	div.box-centered {
		@include justify-content(center);
	}	
	div.box-content {		
		padding: $box-padding;
	}
}