.btn-full {
	padding: $button-full-padding;
	width: 100%;
}
a.btn-full {
	display: inline-block;
	width: 100%;
}
.btn-xs {
	font-size: $button-font-size-xs;
	padding: $button-padding-xs;
}
a.btn-xs {
	@extend .btn-xs;
	padding: $a-padding-xs;
}
.btn-sm {
	font-size: $button-font-size-sm;
	padding: $button-padding-sm;
}
a.btn-sm {
	@extend .btn-sm;
	padding: $a-padding-sm;
}
.btn-md {
	font-size: $button-font-size-md;
	padding: $button-padding-md;
}
a.btn-md {
	@extend .btn-md;
	padding: $a-padding-md;
}
.btn-lg {
	font-size: $button-font-size-lg;
	padding: $button-padding-lg;
}
a.btn-lg {
	@extend .btn-lg;
	padding: $a-padding-lg;
}