.btn-border-blue {
	@extend .button-transparent;	
	@include button-color-hover($color-text-blue, $color-blue);	
	border: $border-blue;
	color: $color-blue;
}
.btn-border-der {
	@extend .button-transparent;	
	@include button-color-hover($color-text-der, $color-der);	
	border: $border-der;
	color: $color-der;
}
.btn-border-gary {
	@extend .button-transparent;	
	@include button-color-hover($color-text-gary, $color-gary);	
	border: $border-gary;
	color: $color-gary;
}
.btn-border-lube {
	@extend .button-transparent;	
	@include button-color-hover($color-text-lube, $color-lube);	
	border: $border-lube;
	color: $color-lube;
}
.btn-border-low {
	@extend .button-transparent;	
	@include button-color-hover($color-text-low, $color-low);	
	border: $border-low;
	color: $color-low;
}
.btn-border-lower {
	@extend .button-transparent;
	@include button-color-hover($color-text-lower,$color-lower);	
	border: $border-lower;
	color: $color-text-lower;
}
.btn-border-kal {
	@extend .button-transparent;	
	@include button-color-hover($color-text-kal, $color-kal);	
	border: $border-kal;
	color: $color-kal;
}
.btn-border-range {
	@extend .button-transparent;	
	@include button-color-hover($color-text-range, $color-range);	
	border: $border-range;
	color: $color-range;
}
.btn-border-tie {
	@extend .button-transparent;	
	@include button-color-hover($color-text-tie, $color-tie);	
	border: $border-tie;
	color: $color-tie;
}