.btn-default {
	@include background-default;
	@include border-radius(5px);
	border: 1px solid #DCDCDC;
	color: $color-label-button;
	font-size: 0.9em;	
	text-align: center;
	text-shadow: 1px 1px 5px #FFFFFF;	
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
}
.btn-lube {
	@include button-custom(#33ADFF);
}
.btn-range {
	@include button-custom(#FF6600);
}
.btn-low {
	@include button-custom(#FFCC66);
}
.btn-der {
	@include button-custom(#FF0000);
}
.btn-gary {
	@include button-custom(#ACACAC);
}
.btn-hidden {
	opacity: 0;
}

/************************************************** SIZES **************************************************/
.btn-md {
	@extend .btn-default;
	padding: 5px 25px;
}
.btn-sm {
	@extend .btn-default;
	padding: 2px 15px;
}
.btn-xs {
	@extend .btn-default;
	padding: 1px 10px;
}