.btn-blue-modern {
	@extend .button-modern;
	@include button-color-hover($color-blue, $color-text-blue);	
	background: $color-blue;
	border: $border-blue;
	color: $color-text-blue;
}
.btn-booper-modern {
	@extend .button-modern;
	@include button-color-hover($color-booper, $color-text-booper);
	background: $color-booper;
	border: $border-booper;	
	color: $color-text-booper;
}
.btn-default-modern {
	@extend .button-modern;
	@include background-default(true);
	border: $border;
	color: $color;
}
.btn-der-modern {
	@extend .button-modern;
	@include button-color-hover($color-der, $color-text-der);	
	background: $color-der;
	border: $border-der;
	color: $color-text-der;
}
.btn-gary-modern {
	@extend .button-modern;
	@include button-color-hover($color-gary, $color-text-gary);	
	background: $color-gary;
	border: $border-gary;
	color: $color-text-gary;
}
.btn-lube-modern {
	@extend .button-modern;
	@include button-color-hover($color-lube, $color-text-lube);	
	background: $color-lube;
	border: $border-lube;
	color: $color-text-lube;
}
.btn-low-modern {
	@extend .button-modern;
	@include button-color-hover($color-low, $color-text-low);	
	background: $color-low;
	border: $border-low;
	color: $color-text-low;
}
.btn-lower-modern {
	@extend .button-modern;
	@include button-color-hover($color-lower, $color-text-lower);	
	background: $color-lower;
	border: $border-lower;
	color: $color-text-lower;
}
.btn-kal-modern {
	@extend .button-modern;
	@include button-color-hover($color-kal, $color-text-kal);	
	background: $color-kal;
	border: $border-kal;
	color: $color-text-kal;
}
.btn-range-modern {
	@extend .button-modern;
	@include button-color-hover($color-range, $color-text-range);	
	background: $color-range;
	border: $border-range;
	color: $color-text-range;
}
.btn-rangeless-modern {
	@extend .button-modern;
	@include button-color-hover($color-rangeless, $color-text-rangeless);	
	background: $color-rangeless;
	border: $border-rangeless;
	color: $color-text-rangeless;
}