.btn-blue {
	@extend .button;
	@include button-color-hover($color-blue, $color-text-blue);	
	background: $color-blue;
	border: $border-blue;
	color: $color-text-blue;
}
.btn-default {
	@extend .button;
	@include background-default(true);
	border: $border;
	color: $color;
}
.btn-der {
	@extend .button;
	@include button-color-hover($color-der, $color-text-der);	
	background: $color-der;
	border: $border-der;
	color: $color-text-der;
}
.btn-derer {
	@extend .button;
	@include button-color-hover($color-derer, $color-text-derer);	
	background: $color-derer;
	border: $border-derer;
	color: $color-text-derer;
}
.btn-gary {
	@extend .button;
	@include button-color-hover($color-gary, $color-text-gary);	
	background: $color-gary;
	border: $border-gary;
	color: $color-text-gary;
}
.btn-lube {
	@extend .button;
	@include button-color-hover($color-lube, $color-text-lube);	
	background: $color-lube;
	border: $border-lube;
	color: $color-text-lube;
}
.btn-low {
	@extend .button;
	@include button-color-hover($color-low, $color-text-low);	
	background: $color-low;
	border: $border-low;
	color: $color-text-low;
}
.btn-lower {
	@extend .button;
	@include button-color-hover($color-lower, $color-text-lower);	
	background: $color-lower;
	border: $border-lower;
	color: $color-text-lower;
}
.btn-kal {
	@extend .button;
	@include button-color-hover($color-kal, $color-text-kal);	
	background: $color-kal;
	border: $border-kal;
	color: $color-text-kal;
}
.btn-range {
	@extend .button;
	@include button-color-hover($color-range, $color-text-range);	
	background: $color-range;
	border: $border-range;
	color: $color-text-range;
}
.btn-tie {
	@extend .button;
	@include button-color-hover($color-tie, $color-text-tie);	
	background: $color-tie;
	border: $border-tie;
	color: $color-text-tie;
}