.color-blue {
	color: $color-blue;
}
.color-cancel {
	color: #FF5050;
}
.color-error {
	color: #FF5050;
}
.color-gray {
	color: #DCDCDC;
}
.color-gray-dark {
	color: #AAAAAA;
}
.color-green {
	color: #00FF00;
}
.color-green-dark {
	color: #00AA00;
}
.color-lube {
	color: $color-lube;
}
.color-purple {
	color: #CC66FF;
}
.color-red {
	color: #FF0000;
}
.color-success {
	color: #00CC99;
}
.color-white {
	color: #FFFFFF;
}