.color-blue {
	color: $color-blue;
}
.color-green {
	color: #00FF00;
}
.color-green-dark {
	color: #00AA00;
}
.color-lube {
	color: $color-lube;
}
.color-red {
	color: #FF0000;
}
.color-white {
	color: #FFFFFF;
}