div.comments {
	border-bottom: 1px solid #DCDCDC;
	float: left;
	padding: 10px;
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -o-calc(100% - 20px);
	width: -ms-calc(100% - 20px);
	width: calc(100% - 20px);
	figure.image-comments img {
		@include border-radius(50%);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		clear: both;
		float: left;
		height: 50px;
		margin: 0 10px 10px 0;
		width: 50px;		
	}	
	p.comments-name {
		color: $text-color;
		font-family: 'Francois One', sans-serif;
	}
	p.comments-data {
		color: #6E6E6E;
		font-family: 'Dosis', sans-serif;
		font-size: 1em;
		margin-bottom: 10px;
	}
	p.comments-comment {
		color: #6E6E6E;
		font-family: 'Josefin Sans', sans-serif;
		& + div.comments-answer {
			border-top: 1px solid #DCDCDC;
		}
	}
	button.answer {		
		color: $color-label-button;
		opacity: 0;
		float: right;
		transition: opacity ease-in 0.2s;
		&:after {
			content: "  \f149";
			font-family: "FontAwesome";
		}
		&:hover {
			cursor: pointer;
		}
		&:active {
			outline: none;
		}
		&:focus {
			outline: none;
		}
	}
	&:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	&:hover button.answer {
		display: inline-block;
		margin-top: 10px;
		opacity: 1;
	}	
}

div.comments-answer {
	border-bottom: 1px solid #DCDCDC;	
	float: left;
	margin-left: 50px;
	padding: 10px;
	width: -webkit-calc(100% - 60px);
	width: -moz-calc(100% - 60px);
	width: -o-calc(100% - 60px);
	width: -ms-calc(100% - 60px);
	width: calc(100% - 60px);
	figure.image-comments-answer img {
		@include border-radius(50%);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		clear: both;
		float: left;
		height: 50px;
		margin: 0 10px 10px 0;
		width: 50px;		
	}	
	p.comments-answer-name {
		color: $text-color;
		font-family: 'Francois One', sans-serif;
	}
	p.comments-answer-data {
		color: #6E6E6E;
		font-family: 'Dosis', sans-serif;
		font-size: 1em;
		margin-bottom: 10px;
	}
	p.comments-answer-comment {
		color: #6E6E6E;
		font-family: 'Josefin Sans', sans-serif;
	}
	&:last-child {
		margin-bottom: 10px;
	}
}

fieldset.comment {	
	width: 100%;
	legend {
		color: $color-label-button;
		font-size: 1.5em;
		padding-top: 10px;
		text-align: center;
	}
}

fieldset[class^=answer] {
	display: none;
	width: 100%;
	legend {
		color: $color-label-button;
		font-size: 1.5em;
		text-align: center;
	}
}