html, body {
	background: #FFFFFF;
	font-family: Arial;
	margin:0;
	padding:0;
}

body:before {
	content:"";
	float:left;
	height:100%;
	margin-top:-32767px;
	width:0;
}

body.body-primary {
	@include background-primary(!important);
}

body.body-blog {
	padding: 50px 0;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}