.container {
	@include calc(width, "100% - 0.2rem");
	clear:both;
	height:auto;	
	margin:auto;
	overflow:hidden;
	padding: 0 0.1rem 0;
}

.container-default {
	background: $container-default;
	margin: 0 auto;
	padding: 20px;
	@media screen and #{$media-querie-mobile} {
		& {
			@include calc(width, "100% - 120px");
		}
	}
	@media screen and #{$media-querie-tablet} {
		& {
			@include calc(width, "100% - 160px");
		}
	}
	@media screen and #{$media-querie-desktop} {
		& {
			@include calc(width, "100% - 200px");
		}
	}
	@media screen and #{$media-querie-large-screen} {
		& {
			@include calc(width, "100% - 240px");
		}
	}
	header.container-header {		
		width: 100%;
		h1.container-brand {
			font-size: 1.5em;
		}
	}
}

.container-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	width: 70%;
	.box-flex {
		background: #F8F8F8;
		border: 1px solid #DCDCDC;
		margin-left: 5px;
		padding: 0.5rem;
		text-align: center;
		width: 100%;
	}
}