section.errors {
	height: 100%;
	width: 100%;
	background: #EBEBEB;
	div.not-found {
		position: absolute;
		height: 200px;
		width: 300px;
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -150px;
		border: 1px solid #FF9933;
		box-shadow: inset 0 0 50px #FFCC00;
		border-radius: 10px;
		background: #FFFFFF;
		label {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 150px;
			font-weight: bold;
			height: 220px;
			width: 50px;
			margin-left: -25px;
			margin-top: -110px;
		}
		p {
			position: absolute;
			bottom: 0;
			margin: 0 0 20px 55px;
		}
	}
}