footer.footer {
	@extend %box-sizing;
	clear:both;
	float: left;
	font-size: 0.8rem;
	padding: $footer-padding;
	position: relative;
	width: 100%;
}
footer.footer-kal {
	@extend .footer;
	@include background-kal;	
	color: $color-text-kal;	
	a {
		@include link-no-decoration;
		color: inherit;
		&:hover {
			cursor: $cursor;
		}
	}
}




footer.footer-default {
	@include background-default;
	border-top: solid 1px #DCDCDC;
	box-sizing: border-box;
	clear:both;
	color: #000000;
	float: left;
	font-size: 0.8rem;
	margin: -36px 0 0 0;
	padding: 0.7rem;
	position: relative;
	a {
		color: #000000;
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
	}
}
footer.footer-default-alt {
	@include background-nav-default;
	box-sizing: border-box;
	clear: both; 
	float: left;
	font-size: 0.85rem;
	margin: 0;
	margin-top: -49px; 
	padding: 1rem;
	position: relative; 
	width: 100%;
	a {
		color: #333333;		
		text-decoration: none;
	}
}
footer.footer-tie {
	background: #FFFFFF;
	box-sizing: border-box;
	clear:both;
	color: $text-nav-tie;
	float: left;
	font-size: 0.8rem;
	margin: -48px 0 0 0;
	padding: 1rem;
	position: relative;
	width: 100%;
	a {
		color: $text-nav-tie;
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
	}	
}