@import 'footer-styles';

footer.footer {
	box-shadow: $footer-shadow;	
	clear:both;
	float: left;
	font-size: 0.8rem;
	padding: $footer-padding;
	position: relative;
	width: 100%;
    a {
		@include link-no-decoration;
		color: inherit;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}