form.form-inline {
	display: inline-block;
	float: left;
	width: 100%;
	label.left-input {
		@include border-radius-lefttop-leftbottom(5px);
		@include background-default;
		border: 1px solid #DCDCDC;
		color: #000000;
		float: left;
		padding: 5px;
		text-align: center;
		width: 120px;
	}
	label.top-textarea {
		@include border-radius-lefttop-righttop(5px);
		@include background-default;
		border: 1px solid #DCDCDC;
		color: #000000;
		float: left;
		padding: 5px;
		text-align: center;
		width: 120px;
	}
	.input-form {
		@include border-radius-righttop-rightbottom(5px);
		background: #FFFFFF;
		border: 1px solid #DCDCDC;
		color: #000000;
		float: left;
		font-size: 1.15em;
		padding: 2px;
		width: calc(100% - 150px);
		&:focus {
			outline: none;
		}
	}
	.select-form {
		@include border-radius-righttop-rightbottom(5px);
		background: #FFFFFF;
		border: 1px solid #DCDCDC;
		color: #000000;
		float: left;
		font-size: 1.15em;
		padding: 2px;
		width: calc(100% - 145px);
		&:focus {
			outline: none;
		}
	}
	.textarea-form {
		@include border-radius(5px);
		background: #FFFFFF;
		border-top-left-radius: 0px;
		border: 1px solid #DCDCDC;
		color: #000000;
		float: left;
		font-size: 1.15em;
		padding: 2px;
		width: calc(100% - 6px);
		&:focus {
			outline: none;
		}
	}
	.full {
		width: calc(100% - 140px);
	}
	.full-select {
		width: calc(100% - 135px);	
	}
}

input[readonly], select[disabled], textarea[readonly] {
	background: #F6F6F6 !important;
	&:hover {
		cursor: not-allowed;
	}
}