.form {
	box-sizing: border-box;
	width: 100%;
	div[class^=col] label {
		float: inherit;
	}	
	.form-body {
		box-sizing: inherit;
		display: inherit;
		float: left;
		padding: $form-padding;
		width: inherit;
	}
	.form-data {
		border: $border;
		box-sizing: border-box;
		color: $color;
		float: inherit;
		width: 100%;
		&:focus {
			border: 1px solid #000000;
			outline: none;
		}
	}
	input[type=checkbox].form-data, input[type=radio].form-data {
		clear: both;
		display: block;
		width: initial;
	}
}

form.form-block {
	@extend .form;		
	.form-data {
		font-size: .8rem;
		padding: $form-data-padding;
	}
}
form.form-modern {
	@extend .form;
	input {
		padding: $form-data-modern-padding;					
	}
	select {
		height: 35px;
	}	
}
form.form-search {
	@extend .form;	
	.form-data {		
		float: left;
		padding: $form-data-modern-padding;
	}
	select {
		height: 35px;
	}
}
a[disabled], button[disabled], input[readonly], input[disabled], select[disabled], textarea[readonly], textarea[disabled] {
	background: $background-inactive;
	color: $color-inactive !important;
	&:hover {
		cursor: $cursor-inactive;
	}
}
input.validate:invalid, select.validate:invalid, textarea.validate:invalid {
	background: $background-invalid;
	border: $border-invalid;
}
input.validate:focus:valid, textarea.validate:focus:valid {
	background: $background-valid;
	border: $border-valid;	
}
input[type=search] {
	background: #FFFFFF url(icon/search.png) right no-repeat !important;	
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[data-toggle=modal]:hover {
	cursor: pointer;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	display: none;
}