@import 'form-group';
@import 'form-modern';
@import 'form-options';
@import 'form-validate';

.form {
	box-sizing: border-box;
	width: 100%;
	div[class^=col] label:first-child {
		float: inherit;
		width: 100%;
	}	
	.form-body {
		box-sizing: inherit;
		display: inherit;
		float: left;
		padding: $form-padding;
		width: inherit;
	}
	.form-data {
		border: $border;
		box-sizing: border-box;
		color: $color;
		float: inherit;
		font-size: .8rem;
		width: 100%;
		&:focus {
			border: 1px solid #000000;
			outline: none;
		}
		&:only-child {
			margin-top: 1.4rem;
		}
	}
	input[type=checkbox].form-data, input[type=radio].form-data {
		width: initial;
	}
}
input[type=search] {
	background: #FFFFFF url(icon/search.png) right no-repeat !important;	
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[data-toggle=modal]:hover {
	cursor: pointer;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	display: none;
}