@import 'grid-sizes';

[class^=col-] {
	margin-bottom: $margin-col-bottom;
	position: relative;
}
[class^=col-]:last-child {
	margin-right: 0 !important;
}
@for $i from 1 through 12 {
	.col-#{$i} {
		@include span($i of 12);
	}
}