[class^=col-] {
	margin: $margin-col;
	position: relative;
}
[class^=col-]:last-child {
	margin-right: 0 !important;
}

/************************************************** XS = Extra Small(min-width: 0px) **************************************************/
@media screen and #{$media-querie-mobile} {
	@for $i from 1 through 12 {
		.col-xs-#{$i} {
			@include span($i of 12);
		}
	}
}

/************************************************** SM = Small(min-width: 480px) **************************************************/
@media screen and #{$media-querie-tablet} {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {
			@include span($i of 12);
		}
	}
}

/************************************************** MD = Medium(min-width: 768px) **************************************************/
@media screen and #{$media-querie-desktop} {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			@include span($i of 12);
		}
	}
}

/************************************************** LG = Large(min-width: 980px) **************************************************/
@media screen and #{$media-querie-large-screen} {
	@for $i from 1 through 12 {
		.col-lg-#{$i} {
			@include span($i of 12);
		}
	}
}

/************************************************** NUMERO **************************************************/
@for $i from 1 through 12 {
	.col-#{$i} {
		@include span($i of 12);
	}
}