header.hader-default {
	float: left;
	width: 100%; 
	background: #FFFFFF;
	margin-bottom: 1px;
	figure.header-brand, figure.header-brand h1, figure.header-brand h1 img {
		float: left;
		height: 50px; 	
		margin: 0;
		padding: 0; 
		width: 400px;
	}
}

header.header-banner {
	align-items: center;
	display: flex;
	width: 100%;
}