.bg-modal {
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.modal {
	@include border-radius(5px);
	@media screen and #{$media-querie-mobile} {
		@include calc(width, "100% - 50px");
		@include calc(height, "100% - 50px");
		left: 25px;
		top: 25px;
	}
	@media screen and #{$media-querie-tablet} {
		@include calc(width, "100% - 100px");
		@include calc(height, "100% - 100px");
		left: 50px;
		top: 50px;
	}
	@media screen and #{$media-querie-desktop} {
		@include calc(width, "100% - 100px");
		@include calc(height, "100% - 100px");
		left: 50px;
		top: 50px;
	}
	@media screen and #{$media-querie-large-screen} {
		@include calc(width, "100% - 100px");
		@include calc(height, "100% - 100px");
		left: 50px;
		top: 50px;
	}
	background: #FFFFFF;
	border: solid 1px #6D6D6D;
	display: none;

	overflow-y: auto;
	padding: 10px;
	position: fixed;	
	z-index: 1001;
	iframe {
		@include border-radius-lefttop-righttop(10px);
		@include calc(width, "100% - 1px");
		@include calc(height, "100% - 0px");
		border: $border;
	}
}