.text-center {
	text-align: center;
}
.font-bold {
	font-weight: bold;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.hidden {
	display: none;
}
.inline-block {
	display: inline-block;
}
.no-decoration {
	text-decoration: none;
	&:link, &:visited, &:hover, &:active {
		color: #000000;
		text-decoration: none;
	}
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0 !important;
}
.position-bottom {
	bottom: 0;
	position: absolute;
}
.position-left {
	left: 0;
	position: absolute;
}
.position-right {
	position: absolute;
	right: 0;
}
.position-top {	
	position: absolute;
	top: 0;
}
.row {	
	float: left;
	width: 100%;
}
.row-input {
	float: left;
	margin-bottom: 0.625rem;
	width: 100%;
}
.vertical-center {
	@include align-items("center");
	@include display-flex;	
	height: 100%;
}
.vertical-horizontal-center {
	@include align-items("center");
	@include display-flex;
	@include justify-content("center");
	height: 100%;
	width: 100%;	
}
.wallpait {
	@include border-radius(5px);	
	background: #F6F6F6;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	clear: both;
	padding: 0.5rem 1rem;	
	position: relative;
	width: 100%;
	label.wallpait-tag {
		@include border-radius-righttop(5px);
		background: #FFFFFF;
		float: right;
		padding: 0.5rem;
		position: absolute;
		right: 0;
		top: 0;
	}
}

/************************************************** TAGS HTML **************************************************/
strong {
	font-weight: bold;
}
i {
	font-style: italic;
}