ul.pagination-default {
	display: inline-block;
	li.page-default {		
		display: inherit;
		float: left;
		margin-right: $margin-pages;		
		a , button {
			@include border-radius($border-radius-pages);
			border: $border;
			padding: $padding-pages;		
			@extend %link-page-default;
			&:link {
				@extend %link-page-default;
			}
			&:visited {
				@extend %link-page-default;	
			}
			&:hover {
				background: $background-pagination-active;
				cursor: pointer;
			}
			&:active {
				@extend %link-page-default;
			}
		}
		&.active a, &.active button {
			background: $background-pagination-active;
		}
	}
}