ul.pagination-default {
	display: inline-block;
	margin-top: 5px;
	li.page-default {		
		display: inherit;;
		float: left;
		margin-right: 5px;		
		a , button {
			@include border-radius(2px);
			border: 1px solid #DCDCDC;
			padding: 0.2rem 0.5rem;		
			@extend %link-page-default;
			&:link {
				@extend %link-page-default;
			}
			&:visited {
				@extend %link-page-default;	
			}
			&:hover {
				background: rgba(0, 0, 0, 0.05);
				cursor: pointer;
			}
			&:active {
				@extend %link-page-default;
			}
		}
		&.active a, &.active button {
			background: rgba(0, 0, 0, 0.05);
		}
	}
}