.panel-around {
	@include border-radius(0.3rem);
	padding: 1rem;
}
section.panel-login {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	width: 100%;
	@media screen and #{$media-querie-mobile} {
		form {
			width: 100%;	
		}
	}
	@media screen and #{$media-querie-tablet} {
		form {
			width: 45%;	
		}
	}
	@media screen and #{$media-querie-desktop} {
		form {
			width: 30%;	
		}
	}
	@media screen and #{$media-querie-large-screen} {
		form {
			width: 30%;	
		}
	}
	form {
		h1 {
			font-size: 1.4rem;
			margin-bottom: 0.5rem;
			text-align: center;
		}
		::-webkit-input-placeholder {
			color: #595959
		}
		::-moz-placeholder {
			color: #595959;
		}
		:-ms-input-placeholder {
			color: #595959;
		}
	}
}