@import 'progress-animation';

[class^=progress-] {
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
.progress {
    border: $progress-border;
    float: left;
    width: 100%;
    [class*=progress-load] {
        float: inherit;
        padding: $progress-load-padding;
    }
    .progress-load-der {
        background: $color-der;        
    }    
    .progress-load-lube {
        background: $color-lube;
    }
    .progress-load-ren {
        background: $color-ren;
    }
}
.progress-info {
    float: left;
    font-size: .75rem;
    text-align: right;
}