@import 'tab-group';
@import 'tab-responsive';
@import 'tab-styles';

.tab {
  list-style: none;
  overflow: hidden;
  padding: 0;  
  width: 100%;  
  li {
    float: left;
  }
  a {
    @include border-radius-lefttop-righttop($tab-border-radius); 
    border-left: $border;
    border-right: $border;
    border-top: $border;
    box-shadow: $tab-shadow;
    color: $tab-color;
    float: left;
    padding: $tab-padding;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    &:hover, &:hover::after, &:focus, &:focus::after {
      background: #FFFFFF;
    } 
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: 0;
    }
  }
}
@for $i from 1 through 10 {
  div#content-tab#{$i} {
    box-sizing: border-box;
    display: none;
    float: left;    
    width: 100%;
    .tab-content-body {
      padding: 1rem;
    }
  }
}