div.tab-group {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
}
ul.tab-default {
  list-style: none;
  overflow: hidden;
  padding: 0;  
  width: 100%;
  li {
    float: left;
  }
  a {
    @include background-default;
    @include border-radius-lefttop-righttop(5px); 
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    color: #444444;
    float: left;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-decoration: none;
    &:hover, &:hover::after, &:focus, &:focus::after {
      background: #FFFFFF;
    }
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: 0;
    }
  }
  & .active a, & .active a::after {
    @include background-lube;
    color: #FFFFFF;
    z-index: 3;
  }
}
ul.tab-responsive {
  @include background-ray-degrade;
  display: inline-flex;
  width: 100%;
  li {
    border-right: 1px solid #DCDCDC;
    display: inline-flex;     
    justify-content: center;
    list-style: none;
    text-align: center;
    width: 100%;  
    a, button {
      color: #000000;
      height: 35px;
      justify-content: center;
      line-height: 35px;
      padding: 0.5rem;
      text-decoration: none;      
      width: 100%;  
    }
    &:hover {
      background: #FFFFFF;
      cursor: pointer;
    }
    &.active {
      background: #FFFFFF;
    }
  }
  &.active {
    background: #FFFFFF;
    border-bottom: none;
  }  
}

@for $i from 1 through 10 {
  div#content-tab#{$i} {
    box-sizing: border-box;
    display: none;
    float: left;
    padding: 0.5rem;
    width: 100%;
  }
}