div.tab-group {
  background: #FFFFFF;
  border: $border;
  box-sizing: border-box;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
}
.tab {
  list-style: none;
  overflow: hidden;
  padding: 0;  
  width: 100%;  
  li {
    float: left;
  }
  a {
    @include border-radius-lefttop-righttop($tab-border-radius); 
    border-left: $border;
    border-right: $border;
    border-top: $border;
    box-shadow: $tab-shadow;
    color: $tab-color;
    float: left;
    padding: $tab-padding;
    position: relative;
    text-decoration: none;
    &:hover, &:hover::after, &:focus, &:focus::after {
      background: #FFFFFF;
    } 
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: 0;
    }
  }
}
ul.tab-lube {
  @extend .tab;
  a {
    @include background-default;
  }
  & .active a, & .active a::after {
    background: $color-lube;
    color: $color-text-lube;
    z-index: 3;
  }
}
ul.tab-responsive {
  @include background-default;
  display: inline-flex;
  width: 100%;
  li {
    @include display-inline-flex;
    @include justify-content("center");
    border-right: $border;
    list-style: none;
    text-align: center;
    width: 100%;  
    a, button {
      color: $color;
      height: 35px;
      justify-content: center;
      line-height: 35px;
      padding: $padding-tab-responsive;
      text-decoration: none;      
      width: 100%;  
    }
    &:hover {
      background: $color-tab-responsive;
      cursor: pointer;
    }
    &.active {
      background: $color-tab-responsive;
    }
  }
  &.active {
    background: $color-tab-responsive;
    border-bottom: none;
  }  
}
@for $i from 1 through 10 {
  div#content-tab#{$i} {
    box-sizing: border-box;
    display: none;
    float: left;
    padding: .5rem;
    width: 100%;
  }
}