table.table-default {
	border-collapse: collapse;
	display: inline-table;
	width: 100%;
	caption {
		font-size: .8rem;
		padding: 0 .1rem;
		text-align: left;
	}
	td {
		border-bottom: $border;
		border-left: 1px #FFFFFF solid;
		border-right: $border;
		border-top: 1px #FFFFFF solid;
		font-size: $table-font-size-td;
		padding: $table-padding;
		text-align: left;
	}
	th {
		border-left: 1px #FFFFFF solid;
		border-right: $border;		
		border-top: $border;
		font-size: $table-font-size-th;
		padding: $table-padding;
		text-align: left;
		&:nth-child(1) td {
			border-top: $border !important;
		}
		&:nth-child(odd) {
			background-color: $table-default-color-odd;
		}
		&:nth-child(odd):hover {
			background-color: $table-default-hover;
			cursor: pointer;			
		}
		&:nth-child(even) {
			background-color: $table-default-color-even;
		}
		&:nth-child(even):hover {
			background-color: $table-default-hover;
			cursor: pointer;			
		}
	}
	tr {
		&:nth-child(1) td {
			border-top: $border !important;
		}
		&:nth-child(odd) {
			background-color: $table-default-color-odd;
		}
		&:nth-child(odd):hover {
			background-color: $table-default-hover;
			color: $table-color;
			cursor: pointer;			
		}
		&:nth-child(even) {
			background-color: $table-default-color-even;
		}
		&:nth-child(even):hover {
			background-color: $table-default-hover;
			color: $table-color;
			cursor: pointer;			
		}
	}
	thead {
		th {
			@include background-th-table-default;
			font-weight: 100;
			color: #555;
		}
		tr {
			th:first-child {
				border-left: $border;
			}	
		}
	}
	tbody {
		tr {
			td:first-child {
				border-left: $border;
			}
			&.empty td:last-child {
				border-bottom: 0px;
				border-left: 0px;
				border-right: 0px;
				border-top: 0px;
				display: table-cell;
			}
			&:last-child td {
				border-bottom: $border;
			}
		}

	}
}
table.table-kal {
	text-align: left;
	width: 100%;
	thead {
		background: $color-kal;
		th {
			border: $table-kal-border;
			color: $color-text-kal;			
			padding: $table-kal-padding;			
		}
	}
	tbody {
		@include background-linear("#F9F9F9, #F5F5F5");
		td {
			border: $border;
			color: $table-kal-color;			
			padding: $table-kal-padding;				
		}
	}
}

@import 'table-options';