div.table-responsive {	
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
	table thead tr th, table tbody tr td {
		@media screen and #{$media-querie-mobile} {
			white-space: nowrap;
		}
		@media screen and #{$media-querie-tablet} {
			white-space: initial;
		}
		@media screen and #{$media-querie-desktop} {
			white-space: initial;
		}
		@media screen and #{$media-querie-large-screen} {
			white-space: initial;
		}		
	}	
}
table.table-disabled {
	tr {
		background: darken($background-inactive, 2.5%) !important;
		color: $color-inactive !important;
	}
}
table[class^=table] {
    tr.table-row-pinted {
        $color-pinted: #FFFA89; 
        background: $color-pinted !important;
        color: darken($color-pinted, 50%) !important;
    }
}
table.table-reduced {
	td {
		font-size: .6rem;
	}
	th {
		font-size: .75rem;
	}
}