div.table-responsive {	
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
	table thead tr th, table tbody tr td {
		white-space: nowrap;
	}	
}
table.table-disabled {
	tr {
		background: darken($background-inactive, 2.5%) !important;
		color: $color-inactive !important;
	}
}
table[class^=table] {
    tr.table-row-pinted {
        $color-pinted: #FFFA89; 
        background: $color-pinted !important;
        color: darken($color-pinted, 50%) !important;
    }
}