@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Francois+One);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/************************************************** COLOR **************************************************/
/************************************************** MEDIA-QUERIE **************************************************/
nav.nav-kal a.nav-brand:link, nav.nav-kal a.nav-brand:visited, nav.nav-kal a.nav-brand:hover, nav.nav-kal a.nav-brand:active, nav.nav-lube a.nav-brand:link, nav.nav-lube a.nav-brand:visited, nav.nav-lube a.nav-brand:hover, nav.nav-lube a.nav-brand:active {
  text-decoration: none; }

nav.nav-kal {
  background: linear-gradient(#595959, #333333, #1A1A1A, #000000);
  width: -webkit-calc(100% - 3.950rem);
  width: -moz-calc(100% - 3.950rem);
  width: -o-calc(100% - 3.950rem);
  width: -ms-calc(100% - 3.950rem);
  width: calc(100% - 3.950rem);
  padding: 0.9rem 1.975rem; }
  nav.nav-kal a.nav-brand {
    color: #FFFFFF;
    font-size: 1.5rem; }
    nav.nav-kal a.nav-brand:hover {
      color: rgba(255, 255, 255, 0.9);
      cursor: pointer; }

nav.nav-lube {
  background: -webkit-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -moz-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -o-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -ms-linear-gradient(to bottom right, #0099FF, #005C99);
  background: linear-gradient(to bottom right, #0099FF, #005C99);
  padding: 0.9rem 1.975rem; }
  nav.nav-lube a.nav-brand {
    color: #FFFFFF;
    font-size: 1.5rem; }
    nav.nav-lube a.nav-brand:hover {
      color: rgba(255, 255, 255, 0.9);
      cursor: pointer; }

nav.nav-network-social ul {
  bottom: 0;
  display: inline-block;
  width: 100%; }
  nav.nav-network-social ul li {
    display: inline-block;
    list-style: none;
    padding: 3px 0; }
    nav.nav-network-social ul li a {
      color: #FFFFFF;
      letter-spacing: 5px; }

nav.nav-responsive {
  width: 100%; }
  nav.nav-responsive ul {
    background: -webkit-linear-gradient(#FBFBFB, #F6F6F6);
    background: -moz-linear-gradient(#FBFBFB, #F6F6F6);
    background: -o-linear-gradient(#FBFBFB, #F6F6F6);
    background: -ms-linear-gradient(#FBFBFB, #F6F6F6);
    background: linear-gradient(#FBFBFB, #F6F6F6);
    display: inline-flex;
    width: 100%; }
    nav.nav-responsive ul li {
      border-right: 1px solid #EEEEEE;
      display: inline-flex;
      justify-content: center;
      list-style: none;
      text-align: center;
      width: 100%; }
      nav.nav-responsive ul li a {
        color: #000000;
        height: 35px;
        justify-content: center;
        line-height: 35px;
        text-decoration: none;
        width: 100%; }
      nav.nav-responsive ul li:hover {
        background: #FFFFFF;
        cursor: pointer; }
      nav.nav-responsive ul li.active {
        background: #FFFFFF; }

nav.nav-top {
  position: absolute;
  top: 0; }

fieldset.block, fieldset.block-default, fieldset.block-lube, fieldset.block-kal {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: -webkit-calc(100% - 0.7rem);
  width: -moz-calc(100% - 0.7rem);
  width: -o-calc(100% - 0.7rem);
  width: -ms-calc(100% - 0.7rem);
  width: calc(100% - 0.7rem);
  border: 1px solid #DCDCDC;
  padding: 2.5rem 0.250rem 0.5rem;
  position: relative; }
  fieldset.block legend.block-header, fieldset.block-default legend.block-header, fieldset.block-lube legend.block-header, fieldset.block-kal legend.block-header {
    left: 0;
    padding: 0.5rem 0.9rem;
    position: absolute;
    top: 0;
    width: -webkit-calc(100% - 1.8rem);
    width: -moz-calc(100% - 1.8rem);
    width: -o-calc(100% - 1.8rem);
    width: -ms-calc(100% - 1.8rem);
    width: calc(100% - 1.8rem); }
  fieldset.block h1.block-title, fieldset.block-default h1.block-title, fieldset.block-lube h1.block-title, fieldset.block-kal h1.block-title {
    font-size: 1rem; }

fieldset.block-default legend.block-header {
  background: -webkit-linear-gradient(#F6F6F6, #E7E7E7);
  background: -moz-linear-gradient(#F6F6F6, #E7E7E7);
  background: -o-linear-gradient(#F6F6F6, #E7E7E7);
  background: -ms-linear-gradient(#F6F6F6, #E7E7E7);
  background: linear-gradient(#F6F6F6, #E7E7E7); }

fieldset.block-lube legend.block-header {
  background: -webkit-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -moz-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -o-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -ms-linear-gradient(to bottom right, #0099FF, #005C99);
  background: linear-gradient(to bottom right, #0099FF, #005C99); }
  fieldset.block-lube legend.block-header h1.block-title {
    color: #FFFFFF; }

fieldset.block-kal legend.block-header {
  background: linear-gradient(#595959, #333333, #1A1A1A, #000000); }
  fieldset.block-kal legend.block-header h1.block-title {
    color: #FFFFFF; }

.btn-default, .btn-md, .btn-sm, .btn-xs {
  background: -webkit-linear-gradient(#F6F6F6, #E7E7E7);
  background: -moz-linear-gradient(#F6F6F6, #E7E7E7);
  background: -o-linear-gradient(#F6F6F6, #E7E7E7);
  background: -ms-linear-gradient(#F6F6F6, #E7E7E7);
  background: linear-gradient(#F6F6F6, #E7E7E7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  color: #005C99;
  font-size: 0.9em;
  text-align: center;
  text-shadow: 1px 1px 5px #FFFFFF; }
  .btn-default:active, .btn-md:active, .btn-sm:active, .btn-xs:active {
    outline: none; }
  .btn-default:focus, .btn-md:focus, .btn-sm:focus, .btn-xs:focus {
    outline: none; }
  .btn-default:hover, .btn-md:hover, .btn-sm:hover, .btn-xs:hover {
    cursor: pointer; }

.btn-lube {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #33ADFF;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  font-size: 0.9em;
  text-align: center; }
  .btn-lube:active {
    outline: none; }
  .btn-lube:focus {
    outline: none; }
  .btn-lube:hover {
    cursor: pointer; }

.btn-range {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #FF6600;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  font-size: 0.9em;
  text-align: center; }
  .btn-range:active {
    outline: none; }
  .btn-range:focus {
    outline: none; }
  .btn-range:hover {
    cursor: pointer; }

.btn-low {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #FFCC66;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  font-size: 0.9em;
  text-align: center; }
  .btn-low:active {
    outline: none; }
  .btn-low:focus {
    outline: none; }
  .btn-low:hover {
    cursor: pointer; }

.btn-der {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #FF0000;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  font-size: 0.9em;
  text-align: center; }
  .btn-der:active {
    outline: none; }
  .btn-der:focus {
    outline: none; }
  .btn-der:hover {
    cursor: pointer; }

.btn-gary {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #ACACAC;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  font-size: 0.9em;
  text-align: center; }
  .btn-gary:active {
    outline: none; }
  .btn-gary:focus {
    outline: none; }
  .btn-gary:hover {
    cursor: pointer; }

.btn-hidden {
  opacity: 0; }

/************************************************** SIZES **************************************************/
.btn-md {
  padding: 5px 25px; }

.btn-sm {
  padding: 2px 15px; }

.btn-xs {
  padding: 1px 10px; }

html, body {
  background: #FFFFFF;
  font-family: Arial;
  height: 100%;
  margin: 0;
  padding: 0; }

body:before {
  content: "";
  float: left;
  height: 100%;
  margin-top: -32767px;
  width: 0; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.container {
  width: -webkit-calc(100% - 0.2rem);
  width: -moz-calc(100% - 0.2rem);
  width: -o-calc(100% - 0.2rem);
  width: -ms-calc(100% - 0.2rem);
  width: calc(100% - 0.2rem);
  padding: 0.1rem; }

.container-default {
  background: #FFFFFF;
  margin: 0 auto;
  padding: 20px; }
  @media screen and (min-width: 0px) {
    .container-default {
      width: -webkit-calc(100% - 120px);
      width: -moz-calc(100% - 120px);
      width: -o-calc(100% - 120px);
      width: -ms-calc(100% - 120px);
      width: calc(100% - 120px); } }
  @media screen and (min-width: 480px) {
    .container-default {
      width: -webkit-calc(100% - 160px);
      width: -moz-calc(100% - 160px);
      width: -o-calc(100% - 160px);
      width: -ms-calc(100% - 160px);
      width: calc(100% - 160px); } }
  @media screen and (min-width: 768px) {
    .container-default {
      width: -webkit-calc(100% - 200px);
      width: -moz-calc(100% - 200px);
      width: -o-calc(100% - 200px);
      width: -ms-calc(100% - 200px);
      width: calc(100% - 200px); } }
  @media screen and (min-width: 980px) {
    .container-default {
      width: -webkit-calc(100% - 240px);
      width: -moz-calc(100% - 240px);
      width: -o-calc(100% - 240px);
      width: -ms-calc(100% - 240px);
      width: calc(100% - 240px); } }
  .container-default header.container-header {
    width: 100%; }
    .container-default header.container-header h1.container-brand {
      font-size: 1.5em; }

.round-shadow {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

/************************************************** SIZES **************************************************/
.round-md {
  height: 50px;
  width: 50px; }

form.form-inline {
  display: inline-block;
  float: left;
  width: 100%; }
  form.form-inline label.left-input {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: -webkit-linear-gradient(#F6F6F6, #E7E7E7);
    background: -moz-linear-gradient(#F6F6F6, #E7E7E7);
    background: -o-linear-gradient(#F6F6F6, #E7E7E7);
    background: -ms-linear-gradient(#F6F6F6, #E7E7E7);
    background: linear-gradient(#F6F6F6, #E7E7E7);
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    padding: 5px;
    text-align: center;
    width: 120px; }
  form.form-inline label.top-textarea {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: -webkit-linear-gradient(#F6F6F6, #E7E7E7);
    background: -moz-linear-gradient(#F6F6F6, #E7E7E7);
    background: -o-linear-gradient(#F6F6F6, #E7E7E7);
    background: -ms-linear-gradient(#F6F6F6, #E7E7E7);
    background: linear-gradient(#F6F6F6, #E7E7E7);
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    padding: 5px;
    text-align: center;
    width: 120px; }
  form.form-inline .input-form {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    font-size: 1.15em;
    padding: 2px;
    width: calc(100% - 150px); }
    form.form-inline .input-form:focus {
      outline: none; }
  form.form-inline .select-form {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    font-size: 1.15em;
    padding: 2px;
    width: calc(100% - 145px); }
    form.form-inline .select-form:focus {
      outline: none; }
  form.form-inline .textarea-form {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    border-top-left-radius: 0px;
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    font-size: 1.15em;
    padding: 2px;
    width: calc(100% - 6px); }
    form.form-inline .textarea-form:focus {
      outline: none; }
  form.form-inline .full {
    width: calc(100% - 140px); }
  form.form-inline .full-select {
    width: calc(100% - 135px); }

input[readonly], select[disabled], textarea[readonly] {
  background: #F6F6F6 !important; }
  input[readonly]:hover, select[disabled]:hover, textarea[readonly]:hover {
    cursor: not-allowed; }

.center {
  text-align: center; }

.font-bold {
  font-weight: bold; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.row {
  width: 100%; }

.row-input {
  float: inherit;
  margin-bottom: 10px;
  width: 100%; }

.wallpait {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: -webkit-calc(100% - 2.2rem);
  width: -moz-calc(100% - 2.2rem);
  width: -o-calc(100% - 2.2rem);
  width: -ms-calc(100% - 2.2rem);
  width: calc(100% - 2.2rem);
  background: #F6F6F6;
  border: 1px solid #DCDCDC;
  clear: both;
  font-family: "Dosis", "Arial";
  padding: 0.5rem 1rem;
  position: relative; }
  .wallpait label.wallpait-tag {
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #FFFFFF;
    float: right;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0; }

/************************************************** TAGS HTML **************************************************/
strong {
  font-weight: bold; }

i {
  font-style: italic; }

div[class^=w-] {
  float: left; }

/************************************************** HGROUP **************************************************/
h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.2rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.8rem; }

h5 {
  font-size: 0.6rem; }

h6 {
  font-size: 0.4rem; }

/************************************************** HIGHT **************************************************/
.h-100 {
  height: 100%; }

/************************************************** WIDTH **************************************************/
.w-25 {
  width: 25%; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

/************************************************** MARGIN **************************************************/
/************************* LEFT **************************/
.m-left-10 {
  margin-left: 10px; }

/************************* RIGHT **************************/
.m-right-10 {
  margin-right: 10px; }

.m-right-20 {
  margin-right: 20px; }

/************************* TOP **************************/
.m-top-5 {
  margin-top: 5px; }

.m-top-10 {
  margin-top: 10px; }

/************************************************** PADDING **************************************************/
.p-top-50 {
  padding-top: 50px; }

table.table-default {
  width: 100%; }
  table.table-default td {
    border-bottom: 1px #DDDDDD solid;
    border-left: 1px #FFFFFF solid;
    border-right: 1px #DDDDDD solid;
    border-top: 1px #FFFFFF solid;
    padding: 4px;
    text-align: left; }
  table.table-default th {
    border-left: 1px #FFFFFF solid;
    border-right: 1px #DDDDDD solid;
    border-top: 1px #DDDDDD solid;
    padding: 4px;
    text-align: left; }
    table.table-default th:nth-child(1) td {
      border-top: 1px #DDDDDD solid !important; }
    table.table-default th:nth-child(odd) {
      background-color: #FFFFFF; }
    table.table-default th:nth-child(odd):hover {
      background-color: #DAF8FF;
      cursor: pointer; }
    table.table-default th:nth-child(even) {
      background-color: #F7F7F7; }
    table.table-default th:nth-child(even):hover {
      background-color: #DAF8FF;
      cursor: pointer; }
  table.table-default tr:nth-child(1) td {
    border-top: 1px #DDDDDD solid !important; }
  table.table-default tr:nth-child(odd) {
    background-color: #FFFFFF; }
  table.table-default tr:nth-child(odd):hover {
    background-color: #DAF8FF;
    color: #0052A6;
    cursor: pointer; }
  table.table-default tr:nth-child(even) {
    background-color: #F7F7F7; }
  table.table-default tr:nth-child(even):hover {
    background-color: #DAF8FF;
    color: #0052A6;
    cursor: pointer; }
  table.table-default thead th {
    background: #F9F9F9;
    background: -webkit-linear-gradient(top, #F9F9F9 0%, #F9F9F9 50%, #F1F2F4 51%, #EBECEE 100%);
    background: -moz-linear-gradient(top, #F9F9F9 0%, #F9F9F9 50%, #F1F2F4 51%, #EBECEE 100%);
    background: -o-linear-gradient(top, #F9F9F9 0%, #F9F9F9 50%, #F1F2F4 51%, #EBECEE 100%);
    background: -ms-linear-gradient(top, #F9F9F9 0%, #F9F9F9 50%, #F1F2F4 51%, #EBECEE 100%);
    background: linear-gradient(to bottom, #F9F9F9 0%, #F9F9F9 50%, #F1F2F4 51%, #EBECEE 100%);
    font-weight: 100;
    color: #555; }
  table.table-default thead tr th:first-child {
    border-left: 1px solid #ddd; }
  table.table-default tbody tr td:first-child {
    border-left: 1px solid #ddd; }
  table.table-default tbody tr.empty td:last-child {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    display: table-cell; }
  table.table-default tbody tr:last-child td {
    border-bottom: 1px #ddd solid; }
