@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Francois+One);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/************************************************** COLOR **************************************************/
/************************************************** MEDIA-QUERIE **************************************************/
ul.pagination-default li.page-default a, ul.pagination-default li.page-default a:link, ul.pagination-default li.page-default a:visited, ul.pagination-default li.page-default a:active {
  color: #424242;
  text-decoration: none; }

nav.nav-lube {
  background: -webkit-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -moz-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -o-linear-gradient(to bottom right, #0099FF, #005C99);
  background: -ms-linear-gradient(to bottom right, #0099FF, #005C99);
  background: linear-gradient(to bottom right, #0099FF, #005C99);
  padding: 50px; }
  nav.nav-lube a.nav-brand {
    color: #FFFFFF;
    font-size: 1.5em;
    text-decoration: none; }
    nav.nav-lube a.nav-brand:hover {
      color: rgba(255, 255, 255, 0.9); }

nav.nav-network-social ul {
  bottom: 0;
  display: inline-block;
  width: 100%; }
  nav.nav-network-social ul li {
    display: inline-block;
    list-style: none;
    padding: 3px 0; }
    nav.nav-network-social ul li a {
      color: #FFFFFF;
      letter-spacing: 5px; }

nav.nav-responsive {
  width: 100%; }
  nav.nav-responsive ul {
    background: -webkit-linear-gradient(#FBFBFB, #F6F6F6);
    background: -moz-linear-gradient(#FBFBFB, #F6F6F6);
    background: -o-linear-gradient(#FBFBFB, #F6F6F6);
    background: -ms-linear-gradient(#FBFBFB, #F6F6F6);
    background: linear-gradient(#FBFBFB, #F6F6F6);
    display: inline-flex;
    width: 100%; }
    nav.nav-responsive ul li {
      border-right: 1px solid #EEEEEE;
      display: inline-flex;
      justify-content: center;
      list-style: none;
      text-align: center;
      width: 100%; }
      nav.nav-responsive ul li a {
        color: #000000;
        height: 35px;
        justify-content: center;
        line-height: 35px;
        text-decoration: none;
        width: 100%; }
      nav.nav-responsive ul li:hover {
        background: #FFFFFF;
        cursor: pointer; }

nav.nav-top {
  position: absolute;
  top: 0; }

.btn-default, .btn-md, .btn-sm, .btn-xs {
  background: -webkit-linear-gradient(#F6F6F6, #E7E7E7);
  background: -moz-linear-gradient(#F6F6F6, #E7E7E7);
  background: -o-linear-gradient(#F6F6F6, #E7E7E7);
  background: -ms-linear-gradient(#F6F6F6, #E7E7E7);
  background: linear-gradient(#F6F6F6, #E7E7E7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  color: #005C99;
  font-size: 0.9em;
  text-align: center;
  text-shadow: 1px 1px 5px #FFFFFF; }
  .btn-default:active, .btn-md:active, .btn-sm:active, .btn-xs:active {
    outline: none; }
  .btn-default:focus, .btn-md:focus, .btn-sm:focus, .btn-xs:focus {
    outline: none; }
  .btn-default:hover, .btn-md:hover, .btn-sm:hover, .btn-xs:hover {
    cursor: pointer; }

.btn-lube {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #33ADFF;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  padding: 5px 10px; }
  .btn-lube:hover {
    cursor: pointer; }

.btn-range {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #FF6600;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  padding: 5px 10px; }
  .btn-range:hover {
    cursor: pointer; }

.btn-low {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #FFCC66;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  padding: 5px 10px; }
  .btn-low:hover {
    cursor: pointer; }

.btn-der {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #FF0000;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  padding: 5px 10px; }
  .btn-der:hover {
    cursor: pointer; }

.btn-gary {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #ACACAC;
  -webkit-box-shadow: inset 0 0 7px #FFFFFF;
  -moz-box-shadow: inset 0 0 7px #FFFFFF;
  -o-box-shadow: inset 0 0 7px #FFFFFF;
  -ms-box-shadow: inset 0 0 7px #FFFFFF;
  box-shadow: inset 0 0 7px #FFFFFF;
  color: #FFFFFF;
  padding: 5px 10px; }
  .btn-gary:hover {
    cursor: pointer; }

.btn-hidden {
  opacity: 0; }

/************************************************** SIZES **************************************************/
.btn-md {
  padding: 5px 25px; }

.btn-sm {
  padding: 2px 15px; }

.btn-xs {
  padding: 1px 10px; }

html, body {
  background: #FFFFFF;
  font-family: Arial;
  margin: 0;
  padding: 0; }

body:before {
  content: "";
  float: left;
  height: 100%;
  margin-top: -32767px;
  width: 0; }

body.body-lube {
  background: -webkit-linear-gradient(to bottom right, #0099FF, #005C99) !important;
  background: -moz-linear-gradient(to bottom right, #0099FF, #005C99) !important;
  background: -o-linear-gradient(to bottom right, #0099FF, #005C99) !important;
  background: -ms-linear-gradient(to bottom right, #0099FF, #005C99) !important;
  background: linear-gradient(to bottom right, #0099FF, #005C99) !important; }

body.body-blog {
  padding: 50px 0; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.container-default {
  background: #FFFFFF;
  margin: 0 auto;
  padding: 20px; }
  @media screen and (min-width: 0px) {
    .container-default {
      width: -webkit-calc(100% - 120px);
      width: -moz-calc(100% - 120px);
      width: -o-calc(100% - 120px);
      width: -ms-calc(100% - 120px);
      width: calc(100% - 120px); } }
  @media screen and (min-width: 480px) {
    .container-default {
      width: -webkit-calc(100% - 160px);
      width: -moz-calc(100% - 160px);
      width: -o-calc(100% - 160px);
      width: -ms-calc(100% - 160px);
      width: calc(100% - 160px); } }
  @media screen and (min-width: 768px) {
    .container-default {
      width: -webkit-calc(100% - 200px);
      width: -moz-calc(100% - 200px);
      width: -o-calc(100% - 200px);
      width: -ms-calc(100% - 200px);
      width: calc(100% - 200px); } }
  @media screen and (min-width: 980px) {
    .container-default {
      width: -webkit-calc(100% - 240px);
      width: -moz-calc(100% - 240px);
      width: -o-calc(100% - 240px);
      width: -ms-calc(100% - 240px);
      width: calc(100% - 240px); } }
  .container-default header.container-header {
    width: 100%; }
    .container-default header.container-header .container-brand {
      font-size: 1.5em; }

.round-shadow {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

.round-md {
  height: 50px;
  width: 50px; }

div.row-input {
  float: inherit;
  margin-bottom: 10px;
  width: 100%; }

div.row {
  width: 100%; }

form.form-inline {
  display: inline-block;
  margin-top: 20px;
  float: left;
  width: 100%; }
  form.form-inline label.left-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: -webkit-linear-gradient(#F6F6F6, #E7E7E7);
    background: -moz-linear-gradient(#F6F6F6, #E7E7E7);
    background: -o-linear-gradient(#F6F6F6, #E7E7E7);
    background: -ms-linear-gradient(#F6F6F6, #E7E7E7);
    background: linear-gradient(#F6F6F6, #E7E7E7);
    border: 1px solid #DCDCDC;
    color: #005C99;
    float: left;
    padding: 5px;
    text-align: center;
    width: 120px; }
  form.form-inline label.top-textarea {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: -webkit-linear-gradient(#F6F6F6, #E7E7E7);
    background: -moz-linear-gradient(#F6F6F6, #E7E7E7);
    background: -o-linear-gradient(#F6F6F6, #E7E7E7);
    background: -ms-linear-gradient(#F6F6F6, #E7E7E7);
    background: linear-gradient(#F6F6F6, #E7E7E7);
    border: 1px solid #DCDCDC;
    color: #005C99;
    float: left;
    padding: 5px;
    text-align: center;
    width: 120px; }
  form.form-inline .input-form {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    font-size: 1.15em;
    padding: 2px;
    width: calc(100% - 150px); }
    form.form-inline .input-form:focus {
      outline: none; }
  form.form-inline .select-form {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    font-size: 1.15em;
    padding: 2px;
    width: calc(100% - 150px); }
    form.form-inline .select-form:focus {
      outline: none; }
  form.form-inline .textarea-form {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 1px solid #DCDCDC;
    color: #000000;
    float: left;
    font-size: 1.15em;
    padding: 2px;
    width: calc(100% - 150px); }
    form.form-inline .textarea-form:focus {
      outline: none; }
  form.form-inline .full {
    width: calc(100% - 140px); }
  form.form-inline .full-select {
    width: calc(100% - 135px); }
  form.form-inline .full-textarea {
    width: 100%; }

input[readonly] {
  background: #F6F6F6; }
  input[readonly]:hover {
    cursor: not-allowed; }

footer {
  color: #AAAAAA;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  text-align: center;
  word-spacing: 5px; }

span.icon-answer::after {
  content: "  \f149";
  font-family: "FontAwesome"; }

div[class^=w-] {
  float: left; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.margin-left-10 {
  margin-left: 10px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-top-10 {
  margin-top: 10px; }

.font-bold {
  font-weight: bold; }

.float-left {
  float: left; }

.float-right {
  float: right; }

ul.pagination-default {
  display: inline-block;
  margin-top: 5px; }
  ul.pagination-default li.page-default {
    display: inherit;
    float: left;
    margin-right: 5px; }
    ul.pagination-default li.page-default a {
      font-family: 'Francois One', sans-serif; }
    ul.pagination-default li.page-default:not(:last-child)::after {
      content: " - "; }

/*# sourceMappingURL=style.css.map */
