////
// GLOBAL
////
$form-select-height: 40px
$form-textarea-height: 120px

////
// BODY
////
$form-body-padding: 1rem

////
// TEXT
////
$form-text-color: #333333
$form-text-font-weight: 500

////
// INPUT
////
$form-data-background: #FFFFFF
$form-data-border-radius: "3px"
$form-data-font-size: .9rem
$form-data-shdow: inset 0 0 5px 2px rgba(242, 242, 242, .5)
$form-data-width: 100%

$form-data-color: #595959
$form-data-padding: .65rem 
$form-data-border-hover: 1px solid #0099FF
$form-data-shadow-hover: 0 0 3px 1px rgba(0, 153, 255, .3)

$form-data-border-error: 1px solid #FF8080 
$form-data-shadow-error: 0 0 3px 1px rgba(255, 128 ,128 , .3)
$form-data-background-error: rgba(255, 179 ,179 , .25)

$form-data-border-success: 1px solid #00CC99
$form-data-shadow-success: 0 0 3px 1px rgba(0, 204, 153 , .25)
$form-data-background-success: rgba(92, 214, 92 , .25)