////
// TEXT
////
$form-text-color: #333333

////
// INPUT
////
$form-input-color: #595959
$form-input-padding: .5rem 
$form-input-border-hover: 1px solid #0099FF
$form-input-shadow-hover: 0 0 3px 1px rgba(0, 153, 255, .3)

$form-input-border-error: 1px solid #FF8080 
$form-input-shadow-error: 0 0 3px 1px rgba(255, 128 ,128 , .3)
$form-input-background-error: rgba(255, 179 ,179 , .25)

$form-input-border-success: 1px solid #00CC99
$form-input-shadow-success: 0 0 3px 1px rgba(0, 204, 153 , .25)
$form-input-background-success: rgba(92, 214, 92 , .25)