$info-types: default, error, info, warning

////
// DEFAULT
////
$info-default-border: 1px solid #DCDCDC
$info-default-color: #FFFFFF
$info-default-text: #808080

////
// ERROR
////
$info-error-border: 1px solid #FF1A1A
$info-error-color: #FFCCCC
$info-error-text: #FF1A1A

////
// INFO
////
$info-info-border: 1px solid #67B0FF
$info-info-color: #E6F2FF
$info-info-text: #67B0FF

////
// WARNING
////
$info-warning-border: 1px solid #FFB067
$info-warning-color: #FFF2E6
$info-warning-text: #FFB067

$info-borders : (default : $info-default-border, error : $info-error-border, info : $info-info-border, warning : $info-warning-border)
$info-colors : (default : $info-default-color, error : $info-error-color, info : $info-info-color, warning : $info-warning-color)
$info-texts : (default : $info-default-text, error : $info-error-text, info : $info-info-text, warning : $info-warning-text)