//// 
// NAV
////
$nav-padding: 0 1rem
$nav-padding-sides: 1rem
$nav-item-padding: 1.2rem $nav-padding-sides .8rem $nav-padding-sides
$nav-item-padding-picture: .2rem 1rem 0
$nav-shadow: 0px 2px 5px rgba(0, 0, 0, .3)
$nav-width: 130px
$nav-border-width: 5px

////
// BRAND
////
$nav-brand-font-size: 1.25rem