$toasts: error, success

////
// GLOBAL
////
$toast-padding: 2rem 3rem
$toast-width: 100%

////
// ERROR
////
$toast-error-color: #FF4D4D
$toast-error-text: #F2F2F2

////
// SUCCESS
////
$toast-success-color: #00CC99
$toast-success-text: #F2F2F2

////
// MESSAGE
////
$toast-message-font-size: 1.35rem

$toast-colors: (error : $toast-error-color, succes : $toast-success-color)
$toast-texts: (error : $toast-error-text, success : $toast-success-text)