.o-form
    &__body
        padding: 0 1rem
    &__text, &__data
        font-size: 1.1rem  
    &__text
        color: $form-text-color
        display: block
        font-weight: 500
        letter-spacing: 1px
    &__data
        @include border-radius(3px)
        background: #FFFFFF
        border: $border
        box-shadow: inset 0 0 5px 2px rgba(242, 242, 242, .5)
        color: $form-input-color
        font-weight: 100
        padding: $form-input-padding
        width: 100%
        &.has-validation
            &:invalid
                background: $form-input-background-error
                border: $form-input-border-error
                box-shadow: $form-input-shadow-error
            &:valid:focus
                background: $form-input-background-success
                border: $form-input-border-success
                box-shadow: $form-input-shadow-success
        &:focus
            border: $form-input-border-hover
            box-shadow: $form-input-shadow-hover
    select.o-form__data
        height: 40px
    textarea.o-form__data
        height: 120px