.o-form
    &__body
        padding: $form-body-padding
    &__text, &__data
        font-size: $form-data-font-size  
    &__text
        color: $form-text-color
        display: block
        font-weight: $form-text-font-weight
        letter-spacing: 1px
    &__data
        @include border-radius($form-data-border-radius)
        background: $form-data-background
        border: $border
        box-shadow: $form-data-shdow
        color: $form-data-color
        font-weight: $form-data-font-weight
        padding: $form-data-padding
        width: $form-data-width
        &.has-validation
            &:invalid
                background: $form-data-background-error
                border: $form-data-border-error
                box-shadow: $form-data-shadow-error
            &:valid:focus
                background: $form-data-background-success
                border: $form-data-border-success
                box-shadow: $form-data-shadow-success
        &:focus
            border: $form-data-border-hover
            box-shadow: $form-data-shadow-hover
    select.o-form__data
        height: $form-select-height
    textarea.o-form__data
        height: $form-textarea-height