html, body
	background: #FFFFFF	
	height: 100%
	margin: 0
	padding: 0	

body:before 
	content: ""
	float: left
	height: 100%
	margin-top: -32767px
	width: 0

main#wrap
	margin: 0
	min-height: 100%
	padding: 0

section#content
	clear:both
	height:auto	
	margin:auto
	max-width: 100%
	overflow:hidden
	padding: 0