.o-documentation {
    height: calc(100vh - 90px);
    margin-left: 20%;
    overflow-y: auto;
    padding: 1rem;
    width: 80%;
}
.o-documentation__title {
    border-bottom: 1px solid #DCDCDC;
    font-weight: 500; 
    margin-bottom: .5rem;   
}
.o-documentation__subtitle {
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-weight: 400;
}
.o-documentation__describe {
    font-weight: 100;
}
.o-documentation__wrap {
    margin-bottom: 3rem;
}
.o-documentation__example {
    margin: .5rem 0;
}