.o-button--dowload {
    border: 2px solid #F9F9F9;
    border-radius: 3px;
    display: inline-block;
    margin-top: 3rem;
    padding: 1rem 4rem;
    transition: background .2s ease-in-out;
}
.o-button--dowload:hover {
    background: #F9F9F9;
    color: #595959;
}