.o-welcome {
    background: #0099FF;
    color: #F9F9F9;
    padding-top: 17rem;
    padding-bottom: 13rem;
    text-align: center;
}
.o-welcome__title {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.o-welcome__describe {
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: .5rem;
}