.o-welcome {
    align-items: center;
    background: #0099FF;
    color: #F9F9F9;
    display: flex;
    height: calc(100vh - 90px);
    justify-content: center;
    text-align: center;
}
.o-welcome__title {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.o-welcome__describe {
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: .5rem;
}