@each $theme in (map-values($themes))
    .c-nav--#{$theme}
        @extend .c-nav
        background: map-get($themes-colors, $theme)
        .c-nav__brand
            color: map-get($themes-texts, $theme)
        .c-nav__menu--second, .c-nav__menu--third 
            background: map-get($themes-colors, $theme)
        [class^=c-nav__item]
            border-bottom: map-get($themes-borders, $theme)
            a
                color: map-get($themes-texts, $theme)
            &:hover
                background: map-get($themes-colors-hover, $theme)
            &:last-child 
                border-bottom: none