@import 'nav-group-styles';

.nav-group {
	width: 100%;
	ul {
		@include align-items("center");
		@include display-flex;
		@include justify-content("center");		
		width: 100%;
		z-index: 1;
		li {						
			width: 100%;			
			button, a {				
				background: transparent;
				border: 0;
				box-sizing: border-box;
				display: inline-block;
				font-size: 1rem;
				height: 100%;
				padding: 1rem;
				text : {
					align: center;
					decoration: none;	
				}
				width: 100%;
				&:hover {
					cursor: pointer;
				}
			}
			button {
				line-height: 1.1;
			}
		}
	}	
}