.nav-circled {
    ul {
        display: inline-block;
        li {
            display: inline-block;
            a {
                @include border-radius(100%);
                box-shadow: 2px 3px 5px rgba(0, 0, 0, .375);
                font-size: 2rem;
                margin: .25rem;
                padding: .25rem .7rem;
                text-align: center;
            }
        }
    }
}

@import 'nav-circled-styles';