nav.nav-square-hover-kal {
	a, i {
		@include transition("all .25s linear");
	}
	a:hover {
		background: $color-kal;
		color: $color-text-kal;
        i {
            color: $color-text-kal;
        }		
	}
}
nav.nav-square-hover-lube {
	a, i {
		@include transition("all .25s linear");
	}
	a:hover {
		background: $color-lube;
		color: $color-text-lube;
        i {
            color: $color-text-lube;
        }		
	}
}
nav.nav-square-hover-range {
	a, i {
		@include transition("all .25s linear");
	}
	a:hover {
		background: $color-range;
		color: $color-text-range;
        i {
            color: $color-text-range;
        }		
	}
}
nav.nav-square-hover-rangeless {
	a, i {
		@include transition("all .25s linear");
	}
	a:hover {
		background: $color-rangeless;
		color: $color-text-rangeless;
        i {
            color: $color-text-rangeless;
        }		
	}
}
nav.nav-square-hover-ren {
	a, i {
		@include transition("all .25s linear");
	}
	a:hover {
		background: $color-ren;
		color: $color-text-ren;
        i {
            color: $color-text-ren;
        }		
	}
}