nav.nav-square {
	float: left;
	width: 100%;
	ul.nav-row {
		@include display-flex;
		@include justify-content("flex-start");
		margin-bottom: 1rem;
		li {			
			margin-right: 1.25rem;
			a {				
				@include align-items("center");
				@include border-radius(.2rem);
				@include display-flex;
				@include justify-content("center");
				background: rgba(255, 255, 255, .8);
				border: 1px solid #DCDCDC;
				box-sizing: content-box;
				height: 70px;
				padding: 1rem;
				text-align: center;
				width: 100px;
				color: #000000;
				text-decoration: none;
				vertical-align: middle;
				i {
					display: block;
					margin-bottom: 5px;
				}
				label:hover {
					cursor: pointer;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}		
	}
}