.nav-circled-default {
    @extend .nav-circled;
    a {
        @include background-default;
        color: #000000;
    }
}
.nav-circled-der {
    @extend .nav-circled;
    a {
        background: $color-der;
        color: $color-text-der;
    }
}
.nav-circled-gary {
    @extend .nav-circled;
    a {
        background: $color-gary;
        color: $color-text-gary;
    }
}
.nav-circled-kal {
    @extend .nav-circled;
    a {
        background: $color-kal;
        color: $color-text-kal;
    }
}
.nav-circled-lube {
    @extend .nav-circled;
    a {
        background: $color-lube;
        color: $color-text-lube;
    }
}
.nav-circled-low {
    @extend .nav-circled;
    a {
        background: $color-low;
        color: $color-text-low;
    }
}
.nav-circled-range {
    @extend .nav-circled;
    a {
        background: $color-range;
        color: $color-text-range;
    }
}
.nav-circled-rangeless {
    @extend .nav-circled;
    a {
        background: $color-rangeless;
        color: $color-text-rangeless;
    }
}