nav.nav-square-hover-kal {
	a, i {
		@include transition("all .25s linear");
	}
	a:hover {
		background: $color-kal;
		color: $color-text-kal;
        i {
            color: $color-text-kal;
        }		
	}
}
nav.nav-square-hover-lube {
	a, i {
		@include transition("all .25s linear");
	}
	a:hover {
		background: $color-lube;
		color: $color-text-lube;
        i {
            color: $color-text-lube;
        }		
	}
}