nav.nav {
	@extend %box-sizing;
	box-shadow: $nav-shadow;
	float: $nav-float;
	padding: $nav-padding;
	width: 100%;
	a.nav-brand {
		@include nav-brand;
		float: inherit;
		margin: $nav-margin-brand;
	}
	ul {
		float: inherit;
		li {
			float: inherit;
			height: $nav-height;
			margin-right: $nav-margin-li;
			padding: $nav-padding-li;
			position: relative;
			a {				
				display: $nav-display-link;
				height: inherit;
				text-decoration: $nav-text-decoration;
				vertical-align: $nav-align-link;
			}
		}
		ul {
			box-shadow: $nav-shadow;
			left: 0;
			position: absolute;
			li {
				@extend %box-sizing;
				ul {
					position: absolute;
					top: 0;
				}
				a {
					float: inherit;
					white-space: nowrap;
					width: 100%;					
				}
			}
		}
	}
}
nav.nav-default {
	@extend .nav;	
	@include background-default;
	a.nav-brand {
		color: $color;
	}
	ul {
		li {
			a {
				color: $color;
			}
			&:hover {
				background: $color-kal;
			}
			&:hover > a {
				color: $color-text-kal;
			}
			&:hover > ul {
				@include transform("scale(1)");
				opacity: 100;
			}
		}
		ul {
			@include background-default;			
			@include transform("scale(0)");
			@include transition("all 0.3s linear");
			opacity: 0;
			top: $nav-height;
			z-index: 1;
			li {
				border-bottom: 1px solid #DADADA;								
				float: none;
				height: $nav-sub-height;				
				margin: 0;
				padding: $nav-sub-padding-li;
				min-width: $nav-min-width;	
				white-space: nowrap;
				a {
					display: block;
					height: initial;
				}
				ul {
					left: $nav-min-width;
				}							
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
nav.nav-group {
	width: 100%;
	ul {
		@include align-items("center");
		@include display-flex;
		@include justify-content("center");		
		width: 100%;
		z-index: 1;
		li {						
			width: 100%;			
			button, a {
				border: 0;
				background: transparent;
				display: inline-block;
				font-size: 1rem;
				height: 100%;
				padding: 1rem;
				text : {
					align: center;
					decoration: none;	
				}
				width: 100%;
				&:hover {
					cursor: pointer;
				}
			}
			button {
				line-height: 1.1;
			}
		}
	}
	&-default {
		ul {
			li {
				@include background-default(true);
			}
		}
	}
	&-lube {
		ul {
			li {
				background: $color-lube;
				border-right: 1px solid $color-text-lube;
				button, a {
					color: $color-text-lube;	
					&:hover {
						color: $color-lube;
					}				
				}
				&:hover {
					background: $color-text-lube;					
					border: 1px solid $color-lube;
				}
				&:last-child {
					border-right: 0;
				}
			}
		}
	}
}
nav.nav-kal {
	@extend .nav;
	background: $color-kal;	
	ul {
		li {
			a {
				color: $color-text-kal;
			}
			&:hover {
				background: $color-text-kal;
			}
			&:hover > a {
				color: $color-kal;	
			}
			&:hover > ul {
				@include transform("scale(1)");
				opacity: 100;
			}
		}
		ul {			
			@include transform("scale(0)");
			@include transition("all 0.3s linear");
			background: $color-kal;	
			opacity: 0;
			top: $nav-height;
			z-index: 1;
			li {
				border-bottom: 1px solid #F9F9F9;								
				float: none;
				height: $nav-sub-height;				
				margin: 0;
				padding: $nav-sub-padding-li;
				min-width: $nav-min-width;	
				white-space: nowrap;
				a {
					display: block;
					height: initial;
				}
				ul {
					left: $nav-min-width;
				}							
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
nav.nav-lube {
	@extend .nav;	
	background: $color-lube;	
	h1, a.nav-brand {
		color: $color-text-lube;	
		display: inline-block;
		float: inherit;
	}
	ul {
		li {
			a {
				color: $color-text-lube;
			}
			&:hover {
				background: $color-text-lube;
			}
			&:hover > a {
				color: $color-lube;	
			}
			&:hover > ul {
				@include transform("scale(1)");
				opacity: 100;
			}
		}
		ul {			
			@include transform("scale(0)");
			@include transition("all 0.3s linear");
			background: $color-lube;	
			opacity: 0;
			top: $nav-height;
			z-index: 1;
			li {
				border-bottom: 1px solid #DADADA;								
				float: none;
				height: $nav-sub-height;				
				margin: 0;
				padding: $nav-sub-padding-li;
				min-width: $nav-min-width;	
				white-space: nowrap;
				a {
					display: block;
					height: initial;
				}
				ul {
					left: $nav-min-width;
				}							
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
nav.nav-square {
	float: left;
	width: 100%;
	ul.nav-row {
		@include display-flex;
		@include justify-content("flex-start");
		margin-bottom: 1rem;
		li {			
			margin-right: 1.25rem;
			a {
				@include border-radius(.2rem);
				background: rgba(255, 255, 255, .8);
				border: 1px solid #DCDCDC;
				display: table-cell;
				height: 50px;
				padding: 1rem;
				text-align: center;
				width: 100px;
				color: #000000;
				text-decoration: none;
				vertical-align: middle;
				i {
					display: block;
					margin-bottom: 5px;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}		
	}
}
nav.nav-tie {
	@extend .nav;	
	background: $color-tie;	
	h1, a.nav-brand {
		color: $color-text-tie;	
		display: inline-block;
		float: inherit;
	}
	ul {
		li {
			a {
				color: $color-text-tie;
			}
			&:hover {
				background: $color-text-tie;
			}
			&:hover > a {
				color: $color-tie;	
			}
			&:hover > ul {
				@include transform("scale(1)");
				opacity: 100;
			}
		}
		ul {			
			@include transform("scale(0)");
			@include transition("all 0.3s linear");
			background: $color-tie;	
			opacity: 0;
			top: $nav-height;
			z-index: 1;
			li {
				border-bottom: 1px solid #DADADA;								
				float: none;
				height: $nav-sub-height;				
				margin: 0;
				padding: $nav-sub-padding-li;
				min-width: $nav-min-width;	
				white-space: nowrap;
				a {
					display: block;
					height: initial;
				}
				ul {
					left: $nav-min-width;
				}							
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

/************************************************** OPTIONS **************************************************/
.nax-fixed-bottom {
	bottom: 0;
	position: fixed;
	z-index: 1;
}
.nax-fixed-top {
	position: fixed;
	top: 0;
	z-index: 1;
}