nav.left-category-slide {
	border-right: 1px solid #DCDCDC;
	box-sizing: border-box;
	min-height: 100%;
	& > a.nav-brand {
		color: $color-link-nav-left-category-slide;
		float: left;
		font-weight: 900;
		margin-top: 1rem;
		text-align: center;
		text-decoration: none;		
		width: 100%;
		&:link, &:visited, &:hover, &:active {
			text-decoration: none;
		}
	}
	ul.nav-main {
		box-shadow: 0 0 5px #DCDCDC;
		float: left;
		width: 100%;
		li {
			@include background-ray-degrade;
			box-sizing: border-box;
			border-top: 1px solid #DCDCDC;
			float: left;
			padding: 0.5rem;
			width: 100%;
			a {
				color: $color-link-nav-left-category-slide;
				float: left;
				text-decoration: none;
				width: 100%;
			}
			ul {
				display: none;
			}
			&:last-child {
				border-bottom: 1px solid #DCDCDC;
			}
		}
	}
	ul.slide {		
		display: none;
		float: left;
		width: 100%;
		li {
			background: #FFFFFF;
			&:hover {
				background: #F9F9F9;
			}
		}
	}
}

nav.nav-band-default {
	@include background-default;
	box-sizing: border-box;
	float: left;
	padding: 0.3rem;
	width: 100%;
}

nav.nav-block {
	@include background-default;
	@include calc(width, "100% - 0.6rem");
	padding: 0.3rem;
}

nav.nav-default {
	a.nav-brand {
		@include nav-brand;
		margin-right: 1.5rem;
	}
	ul.nav-main {
		@include background-default;
		border-bottom: 1px solid #DCDCDC;
		border-top: 1px solid #DCDCDC;
		float: left;
	    list-style: none;	    
	    padding: 0;
	    width: 100%;
	    zoom: 1;
	    ul {
	    	@include background-default;
	    	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	    	list-style: none;
	        margin: 20px 0 0 0;
	        opacity: 0;
	        padding: 0;
	        position: absolute;	        
	        top: 28px;
	        transition: all .2s ease-in-out;
	        visibility: hidden;
	        z-index: 1005;    
	        ul {
	        	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	        	left: 150px;
	        	margin: 0 0 0 20px;
	            top: 0;
	            li:first-child a:after {
	            	border-bottom: 6px solid transparent;
	                border-left: 0; 
	                border-right: 6px solid #FFFFFF;
	                border-top: 6px solid transparent;
	                left: -6px;
	                margin-top: -6px;
	                top: 50%;
	            }
	            li:first-child a:hover:after {
	            	border-bottom-color: transparent;
	                border-right-color: #4D94FF;
	            }
	        }
	        li {
	        	border: 0;
	        	display: block;
	            float: none;
	            &:last-child {
	                box-shadow: none;
	            }
	            &:first-child > a {
	                border-radius: 3px 3px 0 0;
	            }
	            &:first-child > a:after {
	            	border-bottom: 6px solid #FFFFFF;
	                border-left: 6px solid transparent;
	                border-right: 6px solid transparent;
	                content: '';
	                left: 40px;
	                position: absolute;
	                top: -6px;
	            }
	            &:first-child a:hover:after {
	                border-bottom-color: #008ae6;
	            }
	            &:hover a:after {
	                border-bottom-color: #008ae6;
	            }
	            &:NTH-CHILD(odd) {
	                border-bottom: 1px solid #FFFFFF;
	                border-top: 1px solid #B6B6B6;
	            }
	            &:NTH-CHILD(even) {
	                border-bottom: 1px solid #FFFFFF;
	                border-top: 1px solid #B6B6B6;
	            }
	            &:FIRST-CHILD {
	                border-top: none;
	            }
	            &:LAST-CHILD {
	                border-bottom: none;
	            }
	        }
	        a {
	            display: block;
	            float: none;
	            padding: 0.3rem;
	            text-transform: none;
	            white-space: nowrap;
	            width: 150px;	            
	            &:hover {
	                @include background-lube;
	            }
	        }
	    }
	    &:before, &:after {
	    content: "";
	    display: table;
	    }
	    &:after {
	    clear: both;
	    }
	    li {
    	border-right: 1px solid #DCDCDC;
	    float: left;
	    position: relative;
	        &:hover > a {
	        color: #FAFAFA;
	        }
	        &:hover {
	            @include background-lube;
	        }
	        &:hover > ul {
	        	margin: 0;
	            opacity: 1;
	            visibility: visible;
	        }
	    }
	    a {
	    	color: #000000;
	        float: left;
	        font: 12px Arial;
	        padding: 0.5rem 1rem;
	        text-decoration: none;
	    }
	}
}

nav.nav-default-rotation {
	@include background-nav-default;
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
	a.nav-brand {
		color: #595959;
		font-size: 1.5rem;
		margin-right: 1.5rem;
		text-decoration: none;
	}
	ul.nav-main {
		display: inline-block;
		li {
			display: inline-block;
			position: relative;
			a {
				color: #595959;
				display: block;
				text-decoration: none;
				width: 100%;				
			}
			ul {
				@include background-nav-default;
				@include transition("all 0.2s linear");
				@include transform("rotateX(180deg)");
				box-shadow: 1px 1px 5px #DADADA;				
				opacity: 0;
				position: absolute;
				top: 15px;
				visibility: hidden;							
				z-index: 1;
				li {
					box-sizing: border-box;
					padding: 0.5rem;
					width: 150px;
					ul {
						left: 140px;
						position: absolute;
						top: 0;
					}
				}
			}
			&:hover {
				@include background-nav-default-rotation-hover;
			}
			&:hover > a {
				color: #F9F9F9;
			}
			&:hover > ul {
				@include transform("rotateX(0)");
				opacity: 100;
				visibility: visible;
			}
		}
	}
}

nav.nav-kal {
	@include background-kal;		
	box-sizing: border-box;
	padding: 1rem;	
	width: 100%;
	a.nav-brand {
		@include nav-brand;
		margin-right: 1.5rem;
	}
	ul.nav-main {
		display: inline-block;
		li {
			display: inline-block;
			margin-right: 1rem;
			position: relative;
			a {
				color: $color-link-nav-kal;
				text-decoration: none;				
			}
			&:hover {
				background: #FF9900;
			}
			&:hover > ul {
				@include transform("scale(1)");
				opacity: 100;
			}
		}
		ul {
			@include background-kal;
			@include transform("scale(0)");
			@include transition("all 0.3s linear");			
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
			left: 0;
			opacity: 0;
			position: absolute;
			top: 1rem;
			z-index: 1;
			li {
				border-bottom: 1px solid #F9F9F9;
				box-sizing: border-box;
				padding: 0.5rem;
				margin: 0;
				width: 250px;	
				ul {
					left: 230px;
					position: absolute;
					top: 0;
				}			
				a {
					display: inline-block;
					width: 100%;
					white-space: nowrap;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

nav.nav-kal-dropdown {
	ul.nav-main,
	ul.nav-main ul,
	ul.nav-main li,
	ul.nav-main a {
		border: none;
		margin: 0;
		outline: none;
		padding: 0;
	}
	ul.nav-main {
		@include background-nav-kal-dropdown;
		clear: both;
		height: 30px;
		width: 100%;
		li {
			display: block;
			float: left;
			height: 30px;
			list-style: none;
			position: relative;
			a {
				@include transition("color 0.1s ease-in-out");
				border-right: 1px solid #E6E6E6;
				color: #E6E6E6;
				display: block;
				font-weight: 100;
				padding: 5px 15px;
				text-decoration: none;
			}
			&:hover > a {
				color: #FF9900;
			}
			&:hover > ul {
				opacity: 1;
			}
			&:hover > ul li {
				height: 30px;
				overflow: visible;
				padding: 0;
			}
		}
		ul {
			@include background-nav-kal-dropdown;
			@include border-radius-rightbottom-leftbottom(5px);
			@include transition("height 0.25s ease 0.1s");
			left: 0;
			opacity: 0;
			position: absolute;
			top: 30px;
			z-index: 1;
			li {
				@include transition("height 0.25s ease 0.1s");
				height: 0;
				overflow: hidden;
				padding: 0;
				a {
					border: none;
					border-bottom: 1px solid #E6E6E6;
					margin: 0;
					padding: 5px 15px;
					width: 250px;
				}
				&:hover > ul {
					left: 230px;
				}
				&:hover > ul li {
					height: 30px !important;
				}
				ul {
					@include border-radius-righttop-rightbottom-leftbottom(5px);
					@include transition("left 0.25s ease 0.1s");
					left: 0;
					position: absolute;
					top: 0;
					li {
						@include transition("height 0.25s ease 0.1s");
						height: 0 !important;
						overflow: hidden;
						padding: 0;
					}
				}
			}
		}
	}
}

aside.nav-left {	
	@include border-radius(1rem);
	@include span(2 of 12);	
	margin: gutter();
	ul {
		li {
			box-sizing: border-box;			
			padding: 0.5rem 0.2rem;
			text-align: center;
			width: 100%;
			a {
				@include link-no-decoration;
				color: #FFFFFF;
			}
		}
	}
}

nav.nav-lube {
	@include background-lube;
	padding: 0.9rem 1.975rem;	
	a.nav-brand {
		@include nav-brand;
	}
}

nav.nav-network-social {
	ul {		
		display: inline-block;
		padding-left: 0.3125rem;
		width: 100%;
		li {
			display: inline-block;
			list-style: none;
			a {
				color: #FFFFFF;
				letter-spacing: 5px;
			}
		}
	}
}

nav.nav-responsive {	
	float: left;
	width: 100%;
	ul {
		@include background-ray-degrade;
		border: 1px solid #DCDCDC;
		display: inline-flex;	
		width: 100%;
		li {
			border-right: 1px solid #DCDCDC;
			display: inline-flex;			
			justify-content: center;
			list-style: none;
			text-align: center;
			width: 100%;	
			a, button {
				color: #000000;
				height: 35px;
				justify-content: center;
				line-height: 35px;
				text-decoration: none;			
				width: 100%;	
			}
			a:hover, button:hover {
				cursor: pointer;
			}
			&:hover {
				background: #FFFFFF;
			}
			&.active {
				background: #FFFFFF;
			}
		}
	}
}

nav.nav-tie {
	@include span(12 of 12);
	background: #FFFFFF;	
	box-sizing: border-box;
	padding: 1rem;
	a.nav-brand {
		color: #595959;
		float: left;
		font-size: 1.2rem;
		font-weight: 700;
		margin-right: 2rem;
		text-decoration: none;
	}
	ul.nav-main {
		display: inline-block;
		float: left;
		li {
			display: inline-block;
			float: left;
			margin-right: 1.5rem;
			position: relative;
			a {
				color: $text-nav-tie;
				float: inherit;
				font-size: 1em;
				font-weight: 100;
				padding: 0 0.275rem;
				text-decoration: none;
			}
			ul {
				@include transition("transform ease-in-out 0.25s, opacity ease-in-out 0.25s");
				background: #FFFFFF;
				box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
				opacity: 0;
				position: absolute;
				top: 15px;
				transform: scale(0, 0);			
				z-index: -1;	
				li {
					border-bottom: 1px solid #DCDCDC;
					display: inline-block;
					float: left;
					margin-right: 0;
					padding: 0.3rem 0 0.3rem 0.125rem;
					position: relative;
					width: 150px;
					ul {
						left: 150px;
						position: absolute;						
						top: 0;
						z-index: -2;
					}
					a {
						color: $text-nav-tie;
						font-size: 0.85em;
					}				
					&:last-child {
						border-bottom: none;
					}
					&:hover > ul {
						z-index: auto;
					}
				}
			}			
			&:hover {
				background: $border-nav-tie;
			}
			&:hover > a {
				color: #FFFFFF;	
			}
			&:hover > ul {
				@include transform("scale(1, 1)");
				opacity: 100;
				z-index: 1;
			}
		}
	}
}

nav.nav-top {
	position: absolute;
	top: 0;
}

nav.navbar-default {
	@include background-default;
	box-sizing: border-box;
	float: left;
	padding: 0.5rem 1rem;
	width: 100%;
	a.navbar-brand {
		color: #595959;
		float: left;
		text-decoration: none;
	}
}

ul.nav-mapa-site {
	float: left;	
	li {
		line-height: 1.5;
		&:first-child {		
			color: #000000;	
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
}
@media screen and #{$media-querie-mobile} {
	ul.nav-mapa-site {
		width: 100%;
	}
}
@media screen and #{$media-querie-tablet} {
	ul.nav-mapa-site {
		width: initial;
	}
}
@media screen and #{$media-querie-desktop} {
	ul.nav-mapa-site {
		width: initial;
	}
}
@media screen and #{$media-querie-large-screen} {
	ul.nav-mapa-site {
		width: initial;
	}
}

ul.nav-redes-sociais {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	li, a {
		float: left;
		height: 32px;		
		text-indent: -999999px;
		width: 32px;
	}
	li:not(:last-child), a:not(:last-child) {
		margin-right: 2rem;
	}
	.facebook {
		background: url(img/facebook.png) center / 32px 32px;		
	}
	.github {
		background: url(img/github.png) center / 32px 32px;
	}
	.instagram {
		background: url(img/instagram.png) center / 32px 32px;
	}
	.linkedin {
		background: url(img/linkedin.png) center / 32px 32px;	
	}
	.twitter {
		background: url(img/twitter.png) center / 32px 32px;
	}	
}