.o-modal
    @include border-radius($modal-border-radius)
    @include transform("translate(-50%, -50%)")
    background: #FFFFFF
    border: $modal-border
    left: 50%
    position: fixed
    top: 50%
    z-index: $zindex-modal
    &__background
        background: rgba(0, 0, 0, .5)
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%    
    &__header, &__footer
        @include border-radius($modal-border-radius)
        @include background("linear", "to bottom", $modal-background-colors)
        position: relative
    &__header        
        border-bottom: $border
        border-bottom-left-radius: 0px
        border-bottom-right-radius: 0px
        padding: $modal-header-padding
    &__close
        background: transparent
        border: none
        color: $modal-close-color
        position: absolute
        right: 10px
        top: 10px
    &__body
        padding: $modal-body-padding
    &__footer
        border-top: $border
        border-top-left-radius: 0px
        border-top-right-radius: 0px
        padding: $modal-footer-padding
    &.is-hide
        display: none
    &.is-show
        display: block
    @each $size in $sizes
        &--#{$size}
            @extend .u-container
            width: unquote(map-get($modal-sizes, $size))