.o-button
    @include border-radius($button-border-radius)
    font-weight: $button-font-weight
    &--full
        width: 100%
    @each $size in $sizes
        &--#{$size}
            padding: unquote(map-get($button-paddings, $size))

@import button_styles