////
// GLOBAL
// Variáveis utilizadas para realizar conversões de medidas
////
$FATOR_PORCENTAGEM: 100
$FATOR_REM: 16

@import variable/alert
@import variable/button
@import variable/color
@import variable/container
@import variable/form
@import variable/grid
@import variable/media_querie
@import variable/nav
@import variable/sizes
@import variable/theme

$border: 1px solid $gray