////
// GLOBAL
// Variáveis utilizadas para realizar conversões de medidas
////
$FATOR_PORCENTAGEM: 100
$FATOR_REM: 16

@import variable/alert
@import variable/block
@import variable/button
@import variable/color
@import variable/container
@import variable/form
@import variable/grid
@import variable/media_querie
@import variable/modal
@import variable/nav
@import variable/side
@import variable/sizes
@import variable/tab
@import variable/table
@import variable/theme
@import variable/toast
@import variable/z_index

$border: 1px solid $gray