@import 'mixin-border-radius';

@mixin border($position, $px, $style, $color) {
	@if $position != null {
		border-#{$position}-color: $color;	
		border-#{$position}-style: $style;
		border-#{$position}-width: $px;	
	} @else {
		border-color: $color;	
		border-style: $style;
		border-width: $px;
	}
}