@mixin background-default($hover: false) {
	background: -webkit-linear-gradient($background-default);	
	background: -moz-linear-gradient($background-default);	
	background: -o-linear-gradient($background-default);	
	background: -ms-linear-gradient($background-default);	
	background: linear-gradient($background-default);	
	@if $hover {
		&:hover {
			background: -webkit-linear-gradient($background-default-hover);	
			background: -moz-linear-gradient($background-default-hover);	
			background: -o-linear-gradient($background-default-hover);	
			background: -ms-linear-gradient($background-default-hover);	
			background: linear-gradient($background-default-hover);	
		}
	}
}
@mixin background-th-table-default {	
	background: -webkit-linear-gradient(top,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
	background: -moz-linear-gradient(top,  #F9F9F9 0%, #F9F9F9 50%, #F1F2F4 51%, #EBECEE 100%);			
	background: -o-linear-gradient(top,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
	background: -ms-linear-gradient(top,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
	background: linear-gradient(to bottom,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
}