@mixin align-items($value) {
	-webkit-align-items: #{$value};
	-moz-align-items: #{$value};
	-o-align-items: #{$value};
	-ms-align-items: #{$value};
	align-items: #{$value};
}

@mixin background-linear($expression) {
	background: -webkit-linear-gradient(#{$expression});
	background: -moz-linear-gradient(#{$expression});
	background: -o-linear-gradient(#{$expression});
	background: -ms-linear-gradient(#{$expression});
	background: linear-gradient(#{$expression});
}

@mixin background-default {
	background: -webkit-linear-gradient(#FAFAFA, #EBEBE0);
	background: -moz-linear-gradient(#FAFAFA, #EBEBE0);
	background: -o-linear-gradient(#FAFAFA, #EBEBE0);
	background: -ms-linear-gradient(#FAFAFA, #EBEBE0);
	background: linear-gradient(#FAFAFA, #EBEBE0);
}

@mixin background-default-hover {
	background: -webkit-linear-gradient(lighten(#FAFAFA, 5%), lighten(#EBEBE0, 5%));
	background: -moz-linear-gradient(lighten(#FAFAFA, 5%), lighten(#EBEBE0, 5%));
	background: -o-linear-gradient(lighten(#FAFAFA, 5%), lighten(#EBEBE0, 5%));
	background: -ms-linear-gradient(lighten(#FAFAFA, 5%), lighten(#EBEBE0, 5%));
	background: linear-gradient(lighten(#FAFAFA, 5%), lighten(#EBEBE0, 5%));
}

@mixin background-lube($important: null) {
	background: -webkit-linear-gradient(to bottom right, #0099FF, #005C99) $important;
	background: -moz-linear-gradient(to bottom right, #0099FF, #005C99) $important;
	background: -o-linear-gradient(to bottom right, #0099FF, #005C99) $important;
	background: -ms-linear-gradient(to bottom right, #0099FF, #005C99) $important;
	background: linear-gradient(to bottom right, #0099FF, #005C99) $important;
}

@mixin background-kal {
	background: -webkit-linear-gradient(#595959, #333333, #1A1A1A, #000000);
	background: -moz-linear-gradient(#595959, #333333, #1A1A1A, #000000);
	background: -o-linear-gradient(#595959, #333333, #1A1A1A, #000000);
	background: -mslinear-gradient(#595959, #333333, #1A1A1A, #000000);
	background: linear-gradient(#595959, #333333, #1A1A1A, #000000);
}

@mixin background-nav-kal-dropdown {
	background: -webkit-linear-gradient(#A4A4A4 5%, #333333 60%, #191919);
	background: -moz-linear-gradient(#A4A4A4 5%, #333333 60%, #191919);
	background: -o-linear-gradient(#A4A4A4 5%, #333333 60%, #191919);
	background: -ms-linear-gradient(#A4A4A4 5%, #333333 60%, #191919);
	background: linear-gradient(#A4A4A4 5%, #333333 60%, #191919);
}

@mixin background-nav-default {
	background: -webkit-linear-gradient(#FBFBFB, #F6F6F6);	
	background: -moz-linear-gradient(#FBFBFB, #F6F6F6);	
	background: -o-linear-gradient(#FBFBFB, #F6F6F6);	
	background: -ms-linear-gradient(#FBFBFB, #F6F6F6);	
	background: linear-gradient(#FBFBFB, #F6F6F6);	
}

@mixin background-nav-default-hover {
	background: -webkit-linear-gradient(#80B2FF, #1975FF);
	background: -moz-linear-gradient(#80B2FF, #1975FF);
	background: -o-linear-gradient(#80B2FF, #1975FF);
	background: -ms-linear-gradient(#80B2FF, #1975FF);
	background: linear-gradient(#80B2FF, #1975FF);
}

@mixin background-nav-default-rotation {
	background: -webkit-linear-gradient(to right bottom, #F6F6F6, #F2F2F2, #E6E6E6 80%, #DCDCDC);
	background: -moz-linear-gradient(to right bottom, #F6F6F6, #F2F2F2, #E6E6E6 80%, #DCDCDC);
	background: -o-linear-gradient(to right bottom, #F6F6F6, #F2F2F2, #E6E6E6 80%, #DCDCDC);
	background: -ms-linear-gradient(to right bottom, #F6F6F6, #F2F2F2, #E6E6E6 80%, #DCDCDC);
	background: linear-gradient(to right bottom, #F6F6F6, #F2F2F2, #E6E6E6 80%, #DCDCDC);
}

@mixin background-nav-default-rotation-hover {
	background: -webkit-linear-gradient(to bottom, #595959, #404040, #333333);
	background: -moz-linear-gradient(to bottom, #595959, #404040, #333333);
	background: -o-linear-gradient(to bottom, #595959, #404040, #333333);
	background: -ms-linear-gradient(to bottom, #595959, #404040, #333333);
	background: linear-gradient(to bottom, #595959, #404040, #333333);
}

@mixin background-range {
	background: -webkit-linear-gradient(to right bottom, #FFA64D, #FF8C1A, #FF8000, #FF6600);
	background: -moz-linear-gradient(to right bottom, #FFA64D, #FF8C1A, #FF8000, #FF6600);
	background: -o-linear-gradient(to right bottom, #FFA64D, #FF8C1A, #FF8000, #FF6600);
	background: -ms-linear-gradient(to right bottom, #FFA64D, #FF8C1A, #FF8000, #FF6600);
	background: linear-gradient(to right bottom, #FFA64D, #FF8C1A, #FF8000, #FF6600);
}

@mixin background-ray-degrade {
	background: -webkit-linear-gradient(#FAFAFA, #F9F9F9, #F2F2F2, #E9E9E9);
	background: -moz-linear-gradient(#FAFAFA, #F9F9F9, #F2F2F2, #E9E9E9);
	background: -o-linear-gradient(#FAFAFA, #F9F9F9, #F2F2F2, #E9E9E9);
	background: -ms-linear-gradient(#FAFAFA, #F9F9F9, #F2F2F2, #E9E9E9);
	background: linear-gradient(#FAFAFA, #F9F9F9, #F2F2F2, #E9E9E9);
}

@mixin background-th-table-default {
	background: #F9F9F9;
	background: -webkit-linear-gradient(top,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
	background: -moz-linear-gradient(top,  #F9F9F9 0%, #F9F9F9 50%, #F1F2F4 51%, #EBECEE 100%);			
	background: -o-linear-gradient(top,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
	background: -ms-linear-gradient(top,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
	background: linear-gradient(to bottom,  #F9F9F9 0%,#F9F9F9 50%,#F1F2F4 51%,#EBECEE 100%);
}

@mixin background-warning {
	background: -webkit-linear-gradient(#FFF3D4, #FFEFC2);
	background: -moz-linear-gradient(#FFF3D4, #FFEFC2);
	background: -o-linear-gradient(#FFF3D4, #FFEFC2);
	background: -ms-linear-gradient(#FFF3D4, #FFEFC2);
	background: linear-gradient(#FFF3D4, #FFEFC2);
}

@mixin border-radius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-o-border-radius: $value;
	-ms-border-radius: $value;
	border-radius: $value;
}

@mixin border-radius-lefttop-leftbottom($value) {
	-webkit-border-bottom-left-radius: $value;	
	-moz-border-bottom-left-radius: $value;	
	-o-border-bottom-left-radius: $value;	
	-ms-border-bottom-left-radius: $value;	
	border-bottom-left-radius: $value;
	-webkit-border-top-left-radius: $value;
	-moz-border-top-left-radius: $value;
	-o-border-top-left-radius: $value;
	-ms-border-top-left-radius: $value;
	border-top-left-radius: $value;	
	-webkit-border-bottom-right-radius: 0px;	
	-moz-border-bottom-right-radius: 0px;	
	-o-border-bottom-right-radius: 0px;	
	-ms-border-bottom-right-radius: 0px;	
	border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-o-border-top-right-radius: 0px;
	-ms-border-top-right-radius: 0px;
	border-top-right-radius: 0px;	
}

@mixin border-radius-lefttop-righttop($value) {
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-o-border-bottom-right-radius: 0px;
	-ms-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;	
	-moz-border-bottom-left-radius: 0px;	
	-o-border-bottom-left-radius: 0px;	
	-ms-border-bottom-left-radius: 0px;	
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: $value;
	-moz-border-top-left-radius: $value;
	-o-border-top-left-radius: $value;
	-ms-border-top-left-radius: $value;
	border-top-left-radius: $value;
	-webkit-border-top-right-radius: $value;	
	-moz-border-top-right-radius: $value;	
	-o-border-top-right-radius: $value;	
	-ms-border-top-right-radius: $value;	
	border-top-right-radius: $value;	
}

@mixin border-radius-righttop($value) {
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-o-border-bottom-left-radius: 0px;
	-ms-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;		
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-o-border-bottom-right-radius: 0px;
	-ms-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;		
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-o-border-top-left-radius: 0px;
	-ms-border-top-left-radius: 0px;
	border-top-left-radius: 0px;		
	-webkit-border-top-right-radius: $value;
	-moz-border-top-right-radius: $value;
	-o-border-top-right-radius: $value;
	-ms-border-top-right-radius: $value;
	border-top-right-radius: $value;		
}

@mixin border-radius-rightbottom-leftbottom($value) {
	-webkit-border-bottom-left-radius: $value;
	-moz-border-bottom-left-radius: $value;
	-o-border-bottom-left-radius: $value;
	-ms-border-bottom-left-radius: $value;
	border-bottom-left-radius: $value;
	-webkit-border-bottom-right-radius: $value;
	-moz-border-bottom-right-radius: $value;
	-o-border-bottom-right-radius: $value;
	-ms-border-bottom-right-radius: $value;
	border-bottom-right-radius: $value;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-o-border-top-left-radius: 0px;
	-ms-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-o-border-top-right-radius: 0px;
	-ms-border-top-right-radius: 0px;
	border-top-right-radius: 0px;	
}

@mixin border-radius-righttop-rightbottom($value) {
	-webkit-border-bottom-left-radius: 0px;	
	-moz-border-bottom-left-radius: 0px;	
	-o-border-bottom-left-radius: 0px;	
	-ms-border-bottom-left-radius: 0px;	
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: $value;
	-moz-border-bottom-right-radius: $value;	
	-o-border-bottom-right-radius: $value;	
	-ms-border-bottom-right-radius: $value;	
	border-bottom-right-radius: $value;		
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-o-border-top-left-radius: 0px;
	-ms-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: $value;
	-moz-border-top-right-radius: $value;
	-o-border-top-right-radius: $value;
	-ms-border-top-right-radius: $value;
	border-top-right-radius: $value;	
}

@mixin border-radius-righttop-rightbottom-leftbottom($value) {
	-webkit-border-bottom-left-radius: $value;
	-moz-border-bottom-left-radius: $value;
	-o-border-bottom-left-radius: $value;
	-ms-border-bottom-left-radius: $value;
	border-bottom-left-radius: $value;
	-webkit-border-bottom-right-radius: $value;
	-moz-border-bottom-right-radius: $value;
	-o-border-bottom-right-radius: $value;
	-ms-border-bottom-right-radius: $value;
	border-bottom-right-radius: $value;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-o-border-top-left-radius: 0px;
	-ms-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: $value;
	-moz-border-top-right-radius: $value;
	-o-border-top-right-radius: $value;
	-ms-border-top-right-radius: $value;
	border-top-right-radius: $value;		
}

@mixin button-custom($color) {
	@include border-radius(5px);
	background: $color;
	border: 1px solid $color;
	color: #FFFFFF;
	font-size: 0.9em;	
	text-align: center;
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
		background: lighten($color, 10%) !important;
	}
}

@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -o-calc(#{$expression});
	#{$property}: -ms-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin display-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	display: flex;
}

@mixin link-no-decoration {
	&:link {
		@extend %link-no-decoration;
	}
	&:visited {
		@extend %link-no-decoration;
	}
	&:hover {
		@extend %link-no-decoration;
		color: rgba(255, 255, 255, 0.9);
		cursor: pointer;		
	}
	&:active {
		@extend %link-no-decoration;
	}	
}

@mixin justify-content($value) {
	-webkit-justify-content: #{$value};
	-moz-justify-content: #{$value};
	-o-justify-content: #{$value};
	-ms-justify-content: #{$value};
	justify-content: #{$value};
}

@mixin nav-brand {
	@include link-no-decoration;
	color: #FFFFFF;
	font-size: 1.5rem;
}

@mixin transform($expression) {
	-webkit-transform: #{$expression};
	-moz-transform: #{$expression};
	-o-transform: #{$expression};
	-ms-transform: #{$expression};
	transform: #{$expression};
}

@mixin transition($expression) {
	-webkit-transition: #{$expression};
	-moz-transition: #{$expression};
	-o-transition: #{$expression};
	-ms-transition: #{$expression};
	transition: #{$expression};
}