/************************************************** COLOR **************************************************/
$background-color: #FFFFFF;
$border-color: #F6F6F6;
$border-nav-tie: #1AA3FF;
$color-hover: #6E6E6E;
$color-label-button: #005C99;
$container-default: #FFFFFF;
$subtext-color: #B0B0B0;
$text-color: #424242;
$text-nav-tie: #B3B3B3;

/************************************************** MEDIA-QUERIE **************************************************/
$media-querie-mobile: "(max-width: 480px)";
$media-querie-tablet: "(max-width: 767px)";
$media-querie-desktop: "(min-width: 768px) and (max-width: 979px)";
$media-querie-large-screen: "(min-width: 1200px)";