$nav-align-link: middle;
$nav-box-sizing: border-box;
$nav-display: inline-block;
$nav-display-link: table-cell;
$nav-float: left;
$nav-height: 3.5rem;
$nav-margin-brand: .6rem 1rem 0 0;
$nav-margin-li: 1rem;
$nav-min-width: 150px;
$nav-padding: 0 1rem;
$nav-padding-li: 0 .5rem;
$nav-reduced-ul-li-padding: .1rem .3rem .5rem .2rem;
$nav-text-decoration: none;
$nav-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
$nav-sub-height: 2rem;
$nav-sub-padding-li: .5rem;