// BLUE
$color-blue: #0000FF;
$color-text-blue: #FFFFFF;
$border-blue: 1px solid darken($color-blue, 10%);

// BOOPER
$color-booper: #6FD4DB;
$color-text-booper: #FFFFFF;
$border-booper: 1px solid darken($color-booper, 10%);

// DER
$color-der: #F57373;
$color-text-der: #FFFFFF;
$border-der: 1px solid darken($color-der, 10%);

// DERER
$color-derer: #FF5050;
$color-text-derer: #FFFFFF;
$border-derer: 1px solid darken($color-derer, 10%);

// ERROR
$color-error: #FFE6E6;
$color-text-error: #FF5050;
$border-error: 1px solid darken($color-error, 10%);

// GARY
$color-gary: #CBCBCB;
$color-text-gary: #FFFFFF;
$border-gary: 1px solid darken($color-gary, 10%);

// INFO
$color-info: #FFF5CC;
$color-text-info: #E6B800;
$border-info: 1px solid darken($color-info, 10%);

// LOW 
$color-low: #FFEA00;
$color-text-low: #FFFFFF;
$border-low: 1px solid darken($color-low, 10%);

// LOWER
$color-lower: #F5E110;
$color-text-lower: #FFFFFF;
$border-lower: 1px solid darken($color-lower, 10%);

// LUBE
$color-lube: #0099FF;
$color-text-lube: #FFFFFF;
$border-lube: 1px solid darken($color-lube, 10%);

// LUBER
$color-luber: #2A4881;
$color-text-luber: #FFFFFF;
$border-luber: 1px solid darken($color-luber, 10%);

//LUBELESS
$color-lubeless: #E6F7FF;
$color-text-lubeless: #000000;
$border-lubeless: 1px solid darken($color-lubeless, 10%);

// KAL
$color-kal: #303030;
$color-text-kal: #FFFFFF;
$border-kal: 1px solid darken($color-kal, 10%);

// RANGE
$color-range: #FF6600;
$color-text-range: #FFFFFF;
$border-range: 1px solid darken($color-range, 10%);

// RANGELESS
$color-rangeless: #FBB12F;
$color-text-rangeless: #FFFFFF;
$border-rangeless: 1px solid darken($color-rangeless, 10%);

// REN
$color-ren: #00CC99;
$color-text-ren: #FFFFFF;
$border-ren: 1px solid darken($color-ren, 10%);

// SUCCESS
$color-success: #E6FFF9;
$color-text-success: #00CC99;
$border-success: 1px solid darken($color-success, 10%);

// TIE
$color-tie: #FFFFFF;
$color-text-tie: #000000;
$border-tie: 1px solid #FFFFFF;