// TABLE-DEFAULT
$table-default-hover: #DAF8FF;
$table-default-color-even: #F7F7F7;
$table-default-color-odd: #FFFFFF;

// TABLE-KAL
$table-kal-border: 1px solid #000000;
$table-kal-color: #333333;
$table-kal-padding: .3rem;