$button-full-padding: .3125 1.5625rem;

$button-font-size-xs: .8rem;
$button-padding-xs: .2rem .5rem;
$a-padding-xs: .2rem .5rem;

$button-font-size-sm: .8rem;
$button-padding-sm: .35rem .6rem;
$a-padding-sm: .4rem .6rem;

$button-font-size-md: .9rem;
$button-padding-md: .5rem .8rem;
$a-padding-md: .5rem .8rem;

$button-font-size-lg: 1rem;
$button-padding-lg: .7rem .9rem;
$a-padding-lg: .7rem .9rem;