/************************************************** PATTERNS **************************************************/
$background-inactive: #F6F6F6;
$border-color: #DCDCDC;
$border: 1px solid $border-color;
$color: #000000;
$color-inactive: #BBBBBB;
$cursor-inactive: not-allowed;
$font-size: 1rem;
$margin-col: 0 0 .625rem 0;
$padding: 1rem;
$padding-band: .3rem;

/************************************************** ALERT **************************************************/
$border-radius-alert: .3125rem;

/************************************************** COLORS **************************************************/
// BLUE
$color-blue: #0000FF;
$color-text-blue: #FFFFFF;
$border-blue: 1px solid darken($color-blue, 10%);

// BOOPER
$color-booper: #6FD4DB;
$color-text-booper: #FFFFFF;
$border-booper: 1px solid darken($color-booper, 10%);

// DER
$color-der: #F57373;
$color-text-der: #FFFFFF;
$border-der: 1px solid darken($color-der, 10%);

// GARY
$color-gary: #CBCBCB;
$color-text-gary: #FFFFFF;
$border-gary: 1px solid darken($color-gary, 10%);

// LOW 
$color-low: #FFEA00;
$color-text-low: #FFFFFF;
$border-low: 1px solid darken($color-low, 10%);

// LOWER
$color-lower: #F5E110;
$color-text-lower: #FFFFFF;
$border-lower: 1px solid darken($color-lower, 10%);

// LUBE
$color-lube: #0099FF;
$color-text-lube: #FFFFFF;
$border-lube: 1px solid darken($color-lube, 10%);

//LUBE-LIGHT
$color-lube-light: #E6F7FF;
$color-text-lube-light: #000000;
$border-lube-light: 1px solid darken($color-lube-light, 10%);

// KAL
$color-kal: #303030;
$color-text-kal: #FFFFFF;
$border-kal: 1px solid darken($color-kal, 10%);

// RANGE
$color-range: #FF6600;
$color-text-range: #FFFFFF;
$border-range: 1px solid darken($color-range, 10%);

// RANGELESS
$color-rangeless: #FBB12F;
$color-text-rangeless: #FFFFFF;
$border-rangeless: 1px solid darken($color-rangeless, 10%);

// TIE
$color-tie: #FFFFFF;
$color-text-tie: #000000;

/************************************************** BACKGROUNDS **************************************************/
// DEFAULT
$color-default1: #FBFBFB;
$color-default2: #F6F6F6;
$background-default: $color-default1, $color-default2;
$background-default-hover: lighten($color-default1, 20%), lighten($color-default2, 20%);

/************************************************** BANDS **************************************************/
// BAND-NAV
$band-nav-padding: 1rem;

/************************************************** BANNERS **************************************************/
// BANNER
$banner-color: #000000;
$banner-font-size: 1.5rem;
$banner-font-size-h1: 2rem;
$banner-height: 649px;
$banner-margin: 0 0 3rem 0;

/************************************************** BLOCKS **************************************************/
$block-border-radius: .3125rem;
$block-margin: 0 .1rem;
$block-padding: 2rem 0 0 0;

// LEGEND
$block-legend-padding: .5rem .9rem;

// BODY
$block-body-padding: 1rem;

/************************************************** BOXS **************************************************/
// BOX
$box-padding: 1rem;

// IMG
$box-img-height: 200px;
$box-img-margin: 0 0 1rem 0;

/************************************************** BUTTONS **************************************************/
// BUTTON
$button-border: 1px solid $border-color;
$button-border-radius: .3125rem;
$button-color: #000000;

// SIZES
$button-full-padding: .3125 1.5625rem;

$button-font-size-xs: .8rem;
$button-padding-xs: .2rem .5rem;
$a-padding-xs: .2rem .5rem;

$button-font-size-sm: .8rem;
$button-padding-sm: .35rem .6rem;
$a-padding-sm: .4rem .6rem;

$button-font-size-md: .9rem;
$button-padding-md: .5rem .8rem;
$a-padding-md: .5rem .8rem;

$button-font-size-lg: 1rem;
$button-padding-lg: .7rem .9rem;
$a-padding-lg: .7rem .9rem;

/************************************************** COLLAPSES **************************************************/
$collapse-color-link: #000000;

/************************************************** FONTS **************************************************/
$font-size-brand: 1.5rem;

/************************************************** FOOTERS **************************************************/
// FOOTER
$footer-padding: 1rem;
$footer-shadow: 1px 1px 10px rgba(0, 0, 0, .8);

/************************************************** FORMS **************************************************/
$form-padding: 1rem;
$form-data-padding: .125rem;

// FORM-MODERN
$form-data-modern-padding: .6rem;

// VALID
$background-valid: rgba(0, 255, 0, .2);
$color-valid: #00FF00;
$border-valid: 1px solid $color-valid !important;

// INVALID
$background-invalid: rgba(255, 0, 0, .2);
$color-invalid: #FF0000;
$border-invalid: 1px solid $color-invalid !important; 

/************************************************** FORM-GROUP **************************************************/
$form-data-group-display: table;
$form-data-group-vertical-align: middle;
$form-data-group-white-space: nowrap;

$form-data-group-element-display: table-cell;

$form-data-group-text-border-color: #DCDCDC;
$form-data-group-text-border-size: 1px;
$form-data-group-text-border: $form-data-group-text-border-size solid $form-data-group-text-border-color;
$form-data-group-text-padding: 1rem;

$form-data-group-width: 1%;

/************************************************** MEDIA-QUERIES **************************************************/
$media-querie-mobile: "(min-width: 0px)";
$media-querie-tablet: "(min-width: 768px)";
$media-querie-desktop: "(min-width: 992px)";
$media-querie-large-screen: "(min-width: 1200px)";

/************************************************** NAVS **************************************************/
// NAV
$nav-align-link: middle;
$nav-box-sizing: border-box;
$nav-display: inline-block;
$nav-display-link: table-cell;
$nav-float: left;
$nav-height: 3.5rem;
$nav-margin-brand: 1rem 1rem 1rem 0;
$nav-margin-li: 1rem;
$nav-min-width: 150px;
$nav-padding: 0 1rem;
$nav-padding-li: 0 .5rem;
$nav-text-decoration: none;
$nav-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
$nav-sub-height: 2rem;
$nav-sub-padding-li: .5rem;

// NAV-KAL

/************************************************** PAGINATION **************************************************/
$background-pagination-active: rgba(0, 0, 0, .05);
$border-radius-pages: .125rem;
$margin-pages: .3125rem;
$padding-pages: .2rem .5rem;
$pagination-text-color: #424242;

/************************************************** TABLES **************************************************/
$table-color: #0052A6;
$table-font-size-td: .75rem;
$table-font-size-th: .9rem;
$table-padding: .5rem;

// TABLE-DEFAULT
$table-default-hover: #DAF8FF;
$table-default-color-even: #F7F7F7;
$table-default-color-odd: #FFFFFF;

// TABLE-KAL
$table-kal-border: 1px solid #000000;
$table-kal-color: #333333;
$table-kal-padding: .3rem;

/************************************************** TABS **************************************************/
$tab-border-radius: .3125rem;
$tab-color: #444444;
$tab-padding: .5rem 1.5rem;
$tab-shadow: 0 2px 2px rgba(0, 0, 0, .4);

// TAB-RESPONSIVE
$color-tab-responsive: #FFFFFF;
$padding-tab-responsive: .5rem;