$tab-border-radius: .3125rem;
$tab-color: #444444;
$tab-padding: .5rem 1.5rem;
$tab-shadow: 0 2px 2px rgba(0, 0, 0, .4);

// TAB-RESPONSIVE
$color-tab-responsive: #FFFFFF;
$padding-tab-responsive: .5rem;