$form-data-group-display: table;
$form-data-group-vertical-align: middle;
$form-data-group-white-space: nowrap;

$form-data-group-element-display: table-cell;

$form-data-group-text-border-color: #DCDCDC;
$form-data-group-text-border-size: 1px;
$form-data-group-text-border: $form-data-group-text-border-size solid $form-data-group-text-border-color;
$form-data-group-text-padding: 1rem;

$form-data-group-width: 1%;