$form-data-group-display: table;
$form-data-group-vertical-align: middle;
$form-data-group-width: 1%;
$form-data-group-white-space: nowrap;

// FORM-DATA-GROUP-BTN
$form-data-group-btn-button-padding: .42rem .6rem;
$form-data-group-btn-a-padding: .43rem .6rem;

// FORM-DATA-GROUP-TEXT
$form-data-group-text-border-color: #DCDCDC;
$form-data-group-text-border-size: 1px;
$form-data-group-text-border: $form-data-group-text-border-size solid $form-data-group-text-border-color;
$form-data-group-text-display: table-cell;
$form-data-group-text-padding: 1rem;