.o-toast
    padding: $toast-padding
    position: absolute
    width: $toast-width
    z-index: $zindex-toast
    &__message
        font-size: $toast-message-font-size
        letter-spacing: 1px

@import toast_styles