.o-toast
    padding: $toast-padding
    position: absolute
    width: $toast-width
    z-index: $zindex-toast
    &__message
        font :
            size: $toast-message-font-size
            weight: $toast-message-font-weight
        letter-spacing: 1px

@import toast_styles