.c-tab
    float: left
    li
        float: left
    &__item
        @include border-radius($tab-radius) 
        display: block
        font-size: $tab-font-size
        padding: $tab-padding
    &__group
        @extend %float-full
        border: $border
    &__body
        &.is-hide
            display: none
        &.is-show
            display: block
    &--full        
        @extend %flex-full
        li
            @extend %flex-full
            .c-tab__item
                border-radius: 0
                text-align: center
                width: 100%


@import tab_styles