.c-nav
    @include align-items()
    @include display-flex
    @include justify-content("flex-start")
    box-shadow: $nav-shadow
    padding: $nav-padding
    &__brand        
        font-size: $nav-brand-font-size    
    &__menu--first
        @include align-items("inherit")
        @include display-flex
        @include justify-content("inherit")
        margin-left: 1rem
    &__menu--second, &__menu--third 
        @include transform("scale(0)")
        @include transition("all .2s linear")
        box-shadow: $nav-shadow
        display: block
        min-width: $nav-width
        opacity: 0
        position: absolute
    &__menu--second
        top: 55px
    &__menu--third   
        left: ($nav-width - 5px)
        top: 0
    &__item--first 
        @include transition("all .2s ease-in-out")
        border-bottom: 5px solid transparent
        position: relative
        a
            display: block
            font-weight: 100
            padding: $nav-item-padding
            position: relative
        &:hover > .c-nav__menu--second 
            @include transform("scale(1)") 
            opacity: 1
    &__item--second
        @include transition("all .2s ease-in-out")
        position: relative        
        &:hover > .c-nav__menu--third
            @include transform("scale(1)")
            display: block
            opacity: 1                         
    &__item--third
        @include transition("all .2s ease-in-out")
        position: relative

@import nav_styles