.c-nav
    @include align-items()
    @include display-flex
    @include justify-content("flex-start")
    box-shadow: $nav-shadow
    padding: $nav-padding
    &__brand        
        font-size: $nav-brand-font-size    
    &__menu--first
        @include align-items("inherit")
        @include display-flex
        @include justify-content("inherit")
        margin-left: 1rem
    &__menu--second, &__menu--third 
        @include transition("all .2s linear")
        box-shadow: $nav-shadow
        display: block
        min-width: $nav-width
        position: absolute
        &.is-hide
            @include transform("scale(0)")
            opacity: 0
        &.is-show
            @include transform("scale(1)")
            opacity: 1
    &__menu--second
        top: 55px
    &__menu--third   
        left: ($nav-width - 5px)
        top: 0
    &__item--first 
        @include transition("all .2s ease-in-out")
        border-bottom: 5px solid transparent
        position: relative
        a
            display: block
            font-weight: 100
            padding: $nav-item-padding
            position: relative
        a.has-dropdown::after
            content: '\e877'
            font-family: Stilize
            margin-left: 4px
    &__item--second
        @include transition("all .2s ease-in-out")
        position: relative  
        a.has-dropdown::after
            content: '\e87A'
            font-family: Stilize
            margin-left: 4px                       
    &__item--third
        @include transition("all .2s ease-in-out")
        position: relative

@import nav_styles