.c-block
    @include border-radius($block-border-radius)
    border: $border
    &__header
        padding: $block-header-padding
    &__title
        font :
            size: $block-title-font-size
            weight: $block-title-font-weight
    &__body
        padding: $block-padding

@import block_styles