.c-block
    @include border-radius($block-border-radius)
    border: $border
    &__header
        padding: $block-header-padding
        width: 100%
    &__title
        font-size: $block-title-font-size
    &__body--padding
        padding: $block-padding

@import block_styles